<!--(bake partials/head.html layout="l-default")-->
<div id="content" class="l-default" data-page="author-profile">
    <!--(bake partials/navigation.html)-->
    <div class="author-profile">
        <div class="author-info">
            <div class="author-info_head">
                <a class="author-info_city" href="#">New York</a>
                <a class="author-info_name" href="#"><i class="icn icn-back"></i>Philip Toledano</a>
            </div>
            <ul class="author-skills cf">
                <li><a href="#" data-showcase-id="1">Video 1</a></li>
                <li><a href="#" data-showcase-id="2">Photo 3</a></li>
                <li><span>Instagram</span></li>
                <li><span>Writing</span></li>
                <li><span>Books</span></li>
                <li><a href="#" data-showcase-id="3">Exhibitions 3</a></li>
                <li><a href="#" data-showcase-id="4">Illustration 4</a></li>
                <li><span>Direction</span></li>
                <li><a href="#">Awards</a></li>
            </ul>
            <div class="author-description">
                <p>
                    Phillip Toledano was born in London to a French Moroccan mother, and an American father. He believes that photographs should be like unfinished sentences. There should always be space for questions. Phillip’s work is socio-political, and varies in medium, from photography, to installation.
                </p>
                <p>
                    His work has appeared in Vanity Fair, The New York Times magazine, The New Yorker, Esquire, GQ, Wallpaper, The London Times, The Independent Magazine, Le Monde, and Interview magazine, amongst others
                </p>
            </div>
        </div>
        <div class="author-projects">
            <ul class="author-projects_thumbs">
                <li data-project-full="sample/1.jpg" data-project-title="Title project 1">
                    <!--(bake partials/image-lazy.html src="sample/1.jpg" extraclass="img-cover")-->
                    <div class="overlay overlay__clear">
                        <a class="overlay-zoom" href="#">zoom</a>
                    </div>
                </li>
                <li data-project-full="sample/2.jpg" data-project-title="Title project 2">
                    <!--(bake partials/image-lazy.html src="sample/2.jpg" extraclass="img-cover")-->
                    <div class="overlay overlay__clear">
                        <a class="overlay-zoom" href="#">zoom</a>
                    </div>
                </li>
                <li data-project-full="sample/3.jpg" data-project-title="Title project 3">
                    <!--(bake partials/image-lazy.html src="sample/3.jpg" extraclass="img-cover")-->
                    <div class="overlay overlay__clear">
                        <a class="overlay-zoom" href="#">zoom</a>
                    </div>
                </li>
                <li data-project-full="sample/4.jpg" data-project-title="Title project 4">
                    <!--(bake partials/image-lazy.html src="sample/4.jpg" extraclass="img-cover")-->
                    <div class="overlay overlay__clear">
                        <a class="overlay-zoom" href="#">zoom</a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="author-showcase" data-showcase-id="1">
            <a href="sample/1.jpg" data-showcase-title="showcase title1"></a>
        </div>
        <div class="author-showcase" data-showcase-id="2">
            <a href="sample/2.jpg" data-showcase-title="showcase title4"></a>
            <a href="http://vimeo.com/35396305" data-showcase-title="showcase title5"></a>
            <a href="sample/3.jpg" data-showcase-title="showcase title6"></a>
        </div>
        <div class="author-showcase" data-showcase-id="3">
            <a href="sample/4.jpg" data-showcase-title="showcase title7"></a>
            <a href="sample/5.jpg" data-showcase-title="showcase title8"></a>
            <a href="sample/1.jpg" data-showcase-title="showcase title9"></a>
        </div>

        <div class="author-showcase" data-showcase-id="4">
            <a href="https://www.youtube.com/watch?v=EBSU9KaCYP4" data-showcase-title="showcase title10"></a>
            <a href="sample/5.jpg" data-showcase-title="showcase title11"></a>
            <a href="http://castle.eiu.edu/~wow/classes/fa09/Yosemite/yose_valley.jpg" data-showcase-title="showcase title12"></a>
            <a href="sample/1.jpg" data-showcase-title="showcase title9"></a>
        </div>
    </div>
</div>
<!--(bake partials/end.html)-->