<!--(bake partials/head.html layout="l-default")-->
<div id="content" class="l-default" data-page="author-list">
    <!--(bake partials/navigation.html)-->
    <div class="slider slider__authors authors-panel">
        <span class="authors-filters_loader"></span>
        <div class="authors-filters">
            <h2 class="page-title"><i class="icn icn-back slider__authors-close"></i>Our Authors</h2>
            <ul>
                <li data-filter="all" class="authors-filters_active">ALL <span class="authors-filters_counter">135</span></li>
            </ul>
            <h3 class="authors-filters_category">BY TYPE</h3>
            <ul>
                <li data-filter="staff">STAFF <span class="authors-filters_counter">12</span></li>
                <li data-filter="network">NETWORK <span class="authors-filters_counter">35</span></li>
                <li data-filter="avantgarde">AVANTGARDE <span class="authors-filters_counter">21</span></li>

            </ul>

            <h3 class="authors-filters_category">BY MODE</h3>
            <ul>
                <li data-filter="videotelling">VIDEOTELLING <span class="authors-filters_counter">80</span></li>
                <li data-filter="phototelling">PHOTOTELLING <span class="authors-filters_counter">12</span></li>
                <li data-filter="instagram">INSTAGRAM <span class="authors-filters_counter">33</span></li>
                <li data-filter="direction">DIRECTION <span class="authors-filters_counter">90</span></li>
                <li data-filter="illustration">ILLUSTRATION <span class="authors-filters_counter">45</span></li>
                <li data-filter="writing">WRITING <span class="authors-filters_counter">12</span></li>
            </ul>
        </div>
        <div class="slider-mask">
            <div class="slider-wrap">
                <div class="slider-el" data-filter="staff">
                    <a href="#">
                        <!--(bake partials/image-lazy.html src="sample/author_1.jpg" extraclass="img-cover")-->
                        <div class="overlay animated">
                            <a class="overlay-close" href="#">close</a>
                            <div class="overlay-content">
                                <div>
                                    <a href="#" class="overlay_author">Lorenzo Castore</a>
                                    <span class="overlay_city">London</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="slider-el" data-filter="network avantgarde">
                    <a href="#">
                        <!--(bake partials/image-lazy.html src="sample/author_1.jpg" extraclass="img-cover")-->
                        <div class="overlay animated">
                            <a class="overlay-close" href="#">close</a>
                            <div class="overlay-content">
                                <div>
                                    <a href="#" class="overlay_author">Lorenzo Castore</a>
                                    <span class="overlay_city">London</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="slider-el" data-filter="network phototelling">
                    <a href="#">
                        <!--(bake partials/image-lazy.html src="sample/author_1.jpg" extraclass="img-cover")-->
                        <div class="overlay animated">
                            <a class="overlay-close" href="#">close</a>
                            <div class="overlay-content">
                                <div>
                                    <a href="#" class="overlay_author">Lorenzo Castore</a>
                                    <span class="overlay_city">London</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="slider-el" data-filter="network phototelling illustration">
                    <a href="#">
                        <!--(bake partials/image-lazy.html src="sample/author_1.jpg" extraclass="img-cover")-->
                        <div class="overlay animated">
                            <a class="overlay-close" href="#">close</a>
                            <div class="overlay-content">
                                <div>
                                    <a href="#" class="overlay_author">Lorenzo Castore</a>
                                    <span class="overlay_city">London</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="slider-el" data-filter="phototelling">
                    <a href="#">
                        <!--(bake partials/image-lazy.html src="sample/author_1.jpg" extraclass="img-cover")-->
                        <div class="overlay animated">
                            <a class="overlay-close" href="#">close</a>
                            <div class="overlay-content">
                                <div>
                                    <a href="#" class="overlay_author">Lorenzo Castore</a>
                                    <span class="overlay_city">London</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="slider-el" data-filter="writing illustration">
                    <a href="#">
                        <!--(bake partials/image-lazy.html src="sample/author_1.jpg" extraclass="img-cover")-->
                        <div class="overlay animated">
                            <a class="overlay-close" href="#">close</a>
                            <div class="overlay-content">
                                <div>
                                    <a href="#" class="overlay_author">Lorenzo Castore</a>
                                    <span class="overlay_city">London</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="slider-el" data-filter="instagram writing direction">
                    <a href="#">
                        <!--(bake partials/image-lazy.html src="sample/author_1.jpg" extraclass="img-cover")-->
                        <div class="overlay animated">
                            <a class="overlay-close" href="#">close</a>
                            <div class="overlay-content">
                                <div>
                                    <a href="#" class="overlay_author">Lorenzo Castore</a>
                                    <span class="overlay_city">London</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="slider-el" data-filter="network videotelling">
                    <a href="#">
                        <!--(bake partials/image-lazy.html src="sample/author_1.jpg" extraclass="img-cover")-->
                        <div class="overlay animated">
                            <a class="overlay-close" href="#">close</a>
                            <div class="overlay-content">
                                <div>
                                    <a href="#" class="overlay_author">Lorenzo Castore</a>
                                    <span class="overlay_city">London</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="slider-el" data-filter="network videotelling staff">
                    <a href="#">
                        <!--(bake partials/image-lazy.html src="sample/author_1.jpg" extraclass="img-cover")-->
                        <div class="overlay animated">
                            <a class="overlay-close" href="#">close</a>
                            <div class="overlay-content">
                                <div>
                                    <a href="#" class="overlay_author">Lorenzo Castore</a>
                                    <span class="overlay_city">London</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="slider-el" data-filter="instagram videotelling avantgarde">
                    <a href="#">
                        <!--(bake partials/image-lazy.html src="sample/author_1.jpg" extraclass="img-cover")-->
                        <div class="overlay animated">
                            <a class="overlay-close" href="#">close</a>
                            <div class="overlay-content">
                                <div>
                                    <span class="overlay_author">Lorenzo Castore</span>
                                    <span class="overlay_city">London</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="authors-map_overlay"></div>

    <div class="authors-map">
    <div class="authors-map_data">
    <!-- Map data sample -->
    <!-- Palermo -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="13.3612671" data-lat="38.1156879">Palermo</span>
                                <a href="/www_luzphoto_com/authors/no-mans-land">No Man's Land</a>
                                <a href="/www_luzphoto_com/authors/roberto-boccaccino">Roberto Boccaccino</a>
                                <a href="/www_luzphoto_com/authors/armando-rotoletti">Armando Rotoletti</a>
                            </span>
    <!-- Roma -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="12.4801801999999" data-lat="41.8723889">Roma</span>
                                <a href="/www_luzphoto_com/authors/francesco-amorosino">Francesco Amorosino</a>
                                <a href="/www_luzphoto_com/authors/fabio-massimo-aceto">Fabio Massimo Aceto</a>
                                <a href="/www_luzphoto_com/authors/alessandro-durso">Alessandro D'Urso</a>
                                <a href="/www_luzphoto_com/authors/eleonora-calvelli">Eleonora Calvelli</a>
                                <a href="/www_luzphoto_com/authors/guido-gazzilli">Guido Gazzilli</a>
                                <a href="/www_luzphoto_com/authors/giovanni-troilo">Giovanni Troilo</a>
                                <a href="/www_luzphoto_com/authors/veronica-daltri">Veronica Daltri</a>
                                <a href="/www_luzphoto_com/authors/francesco-zizola">Francesco Zizola</a>
                                <a href="/www_luzphoto_com/authors/marta-piazza">Marta Piazza</a>
                                <a href="/www_luzphoto_com/authors/annette-schreyer">Annette Schreyer</a>
                                <a href="/www_luzphoto_com/authors/lorenzo-castore">Lorenzo Castore</a>
                                <a href="/www_luzphoto_com/authors/massimo-mastrorillo">Massimo Mastrorillo</a>
                                <a href="/www_luzphoto_com/authors/giovanni-del-brenna">Giovanni Del brenna</a>
                            </span>
    <!-- Singapore -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="103.819836" data-lat="1.352083">Singapore</span>
                                <a href="/www_luzphoto_com/authors/julio-etchart">Julio Etchart </a>
                            </span>
    <!-- Bangkok -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="100.5241235" data-lat="13.7278956">Bangkok</span>
                                <a href="/www_luzphoto_com/authors/jeremy-horner">Jeremy Horner </a>
                                <a href="/www_luzphoto_com/authors/cedric-arnold">Cedric Arnold</a>
                                <a href="/www_luzphoto_com/authors/patrick-brown">Patrick Brown</a>
                                <a href="/www_luzphoto_com/authors/nic-dunlop">Nic Dunlop</a>
                            </span>
    <!-- cape Town -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="18.4240553" data-lat="-33.9248685">cape Town</span>
                                <a href="/www_luzphoto_com/authors/eric-miller-0">Eric Miller </a>
                                <a href="/www_luzphoto_com/authors/robin-hammond">Robin Hammond</a>
                            </span>
    <!-- Rio de janeiro  -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="-43.1970773" data-lat="-22.9082998">Rio de janeiro </span>
                                <a href="/www_luzphoto_com/authors/eduardo-martino">Eduardo Martino </a>
                            </span>
    <!-- Copenhagen  -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="12.5683371" data-lat="55.6760968">Copenhagen </span>
                                <a href="/www_luzphoto_com/authors/christian-als">Christian Als </a>
                            </span>
    <!-- Maastricht  -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="5.69097250000004" data-lat="50.8513682">Maastricht </span>
                                <a href="/www_luzphoto_com/authors/chris-keulen">Chris Keulen </a>
                            </span>
    <!-- London -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="-0.127758299999982" data-lat="51.5073509">London</span>
                                <a href="/www_luzphoto_com/authors/chloe-dewe-mathews">Chloe Dewe Mathews </a>
                                <a href="/www_luzphoto_com/authors/adam-hinton">Adam Hinton </a>
                                <a href="/www_luzphoto_com/authors/abbey-trayler-smith">Abbey Trayler Smith </a>
                                <a href="/www_luzphoto_com/authors/bryan-alexander">Bryan Alexander</a>
                                <a href="/www_luzphoto_com/authors/ed-thompson">Ed Thompson</a>
                            </span>
    <!-- Barcelona -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="-3.74922000000004" data-lat="40.463667">Barcelona</span>
                                <a href="/www_luzphoto_com/authors/carlos-spottorno">Carlos Spottorno </a>
                            </span>
    <!-- new york -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="-74.0059413" data-lat="40.7127837">new york</span>
                                <a href="/www_luzphoto_com/authors/brian-sokol">Brian Sokol </a>
                                <a href="/www_luzphoto_com/authors/nina-berman">Nina Berman</a>
                            </span>
    <!-- Prague -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="14.4378005" data-lat="50.0755381">Prague</span>
                                <a href="/www_luzphoto_com/authors/bjoern-steinz">Bjoern Steinz </a>
                            </span>
    <!-- Istanbul -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="28.97696" data-lat="41.00527">Istanbul</span>
                                <a href="/www_luzphoto_com/authors/aytunc-akad">Aytunc Akad </a>
                                <a href="/www_luzphoto_com/authors/serra-akcan">Serra Akcan </a>
                            </span>
    <!-- Beirut -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="35.4954794" data-lat="33.8886289">Beirut</span>
                                <a href="/www_luzphoto_com/authors/andrew-mcconnell">Andrew McConnell </a>
                            </span>
    <!-- Berlin -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="13.404954" data-lat="52.5200066">Berlin</span>
                                <a href="/www_luzphoto_com/authors/andrea-gjestvang">Andrea Gjestvang </a>
                                <a href="/www_luzphoto_com/authors/frank-rothe">Frank Rothe</a>
                                <a href="/www_luzphoto_com/authors/federico-gargaglione">Federico Gargaglione</a>
                                <a href="/www_luzphoto_com/authors/maurice-weiss">Maurice Weiss</a>
                                <a href="/www_luzphoto_com/authors/anne-schonharting">Anne Schonharting</a>
                                <a href="/www_luzphoto_com/authors/thomas-meyer">Thomas Meyer</a>
                                <a href="/www_luzphoto_com/authors/dawin-meckel">Dawin Meckel</a>
                            </span>
    <!-- Madrid -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="-3.70379019999996" data-lat="40.4167754">Madrid</span>
                                <a href="/www_luzphoto_com/authors/alfredo-caliz">Alfredo Caliz </a>
                                <a href="/www_luzphoto_com/authors/javier-arcenillas">Javier Arcenillas</a>
                            </span>
    <!-- Lausanne -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="6.63359709999998" data-lat="46.5199617">Lausanne</span>
                                <a href="/www_luzphoto_com/authors/alban-kakulya">Alban Kakulya </a>
                                <a href="/www_luzphoto_com/authors/andres-otero">Andres Otero</a>
                            </span>
    <!-- Dublin -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="-6.26030969999999" data-lat="53.3498053">Dublin</span>
                                <a href="/www_luzphoto_com/authors/adam-patterson">Adam Patterson </a>
                            </span>
    <!-- Beijing -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="116.407526" data-lat="39.90403">Beijing</span>
                                <a href="/www_luzphoto_com/authors/adam-dean">Adam Dean </a>
                            </span>
    <!-- Milano -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="9.18592430000001" data-lat="45.4654219">Milano</span>
                                <a href="/www_luzphoto_com/authors/mirella-riva">Mirella Riva</a>
                                <a href="/www_luzphoto_com/authors/alessandra-galiani">Alessandra Galiani</a>
                                <a href="/www_luzphoto_com/authors/gabriele-stabile-cesura">Gabriele Stabile / Cesura</a>
                                <a href="/www_luzphoto_com/authors/gabriele-micalizzi-cesura">Gabriele Micalizzi / Cesura</a>
                                <a href="/www_luzphoto_com/authors/alessandro-sala-cesura">Alessandro Sala / Cesura</a>
                                <a href="/www_luzphoto_com/authors/chiara-mirelli">Chiara Mirelli</a>
                                <a href="/www_luzphoto_com/authors/efrem-raimondi">Efrem Raimondi</a>
                                <a href="/www_luzphoto_com/authors/isabella-de-maddalena">Isabella De Maddalena</a>
                                <a href="/www_luzphoto_com/authors/calogero-russo">Calogero Russo</a>
                                <a href="/www_luzphoto_com/authors/giorgio-barrera">Giorgio Barrera</a>
                                <a href="/www_luzphoto_com/authors/orlando-salmeri">Orlando Salmeri</a>
                                <a href="/www_luzphoto_com/authors/piero-martinello">Piero Martinello</a>
                                <a href="/www_luzphoto_com/authors/julian-hargreaves">Julian Hargreaves</a>
                                <a href="/www_luzphoto_com/authors/guido-clerici">Guido Clerici</a>
                                <a href="/www_luzphoto_com/authors/maki-galimberti">Maki Galimberti</a>
                                <a href="/www_luzphoto_com/authors/emanuele-cremaschi">Emanuele Cremaschi</a>
                                <a href="/www_luzphoto_com/authors/michel-temteme">Michel Temteme</a>
                                <a href="/www_luzphoto_com/authors/filippo-romano">Filippo Romano</a>
                                <a href="/www_luzphoto_com/authors/alessandro-grassani">Alessandro Grassani</a>
                                <a href="/www_luzphoto_com/authors/andrea-frazzetta">Andrea Frazzetta</a>
                            </span>
    <!-- Pavia -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="9.15820689999998" data-lat="45.1847248">Pavia</span>
                                <a href="/www_luzphoto_com/authors/livia-sala">Livia Sala</a>
                            </span>
    <!-- Genova -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="8.94625599999995" data-lat="44.4056499">Genova</span>
                                <a href="/www_luzphoto_com/authors/michela-corbo">Michela Corbo</a>
                            </span>
    <!-- Diyarbakır -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="40.230629" data-lat="37.9144099">Diyarbakır</span>
                                <a href="/www_luzphoto_com/authors/h%C3%BCsammetin-bah%C3%A7e">Hüsammetin Bahçe </a>
                            </span>
    <!-- Tunisi -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="10.1815316" data-lat="36.8064948">Tunisi</span>
                                <a href="/www_luzphoto_com/authors/francesca-oggiano">Francesca Oggiano </a>
                            </span>
    <!-- Athen -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="23.7293599" data-lat="37.983917">Athen</span>
                                <a href="/www_luzphoto_com/authors/gerasimos-kolaikos">Gerasimos Kolaikos</a>
                                <a href="/www_luzphoto_com/authors/alixandra-fazzina">Alixandra Fazzina</a>
                            </span>
    <!-- Jena -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="11.5892372000001" data-lat="50.927054">Jena</span>
                                <a href="/www_luzphoto_com/authors/anna-schroll">Anna Schroll </a>
                            </span>
    <!-- Berlin -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="13.4033203125" data-lat="52.4283849181682">Berlin</span>
                                <a href="/www_luzphoto_com/authors/jan-michael-hosan">Jan Michael  Hosan </a>
                            </span>
    <!-- Londra -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="-0.120849609375" data-lat="51.5055371094667">Londra</span>
                                <a href="/www_luzphoto_com/authors/anna-ambrosi">Anna Ambrosi</a>
                            </span>
    <!-- Johannesburg -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="28.0473051" data-lat="-26.2041028">Johannesburg</span>


                            </span>
    <!-- Chicago -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="-87.6297982" data-lat="41.8781136">Chicago</span>
                                <a href="/www_luzphoto_com/authors/arianna-arcara-cesura">Arianna Arcara / Cesura</a>
                                <a href="/www_luzphoto_com/authors/luca-santese-cesura">Luca Santese / Cesura</a>
                            </span>
    <!-- Moscow -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="37.6173" data-lat="55.755826">Moscow</span>
                                <a href="/www_luzphoto_com/authors/dmitry-kostyukov">Dmitry Kostyukov</a>
                                <a href="/www_luzphoto_com/authors/justin-jin">Justin Jin</a>
                                <a href="/www_luzphoto_com/authors/yuri-kozyrev">Yuri Kozyrev</a>
                                <a href="/www_luzphoto_com/authors/james-hill">James Hill</a>
                            </span>
    <!-- Venezia -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="12.3155151" data-lat="45.4408474">Venezia</span>
                                <a href="/www_luzphoto_com/authors/mattia-balsamini">Mattia Balsamini</a>
                            </span>
    <!-- Lake Baikal -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="108.2094861" data-lat="53.5657849">Lake Baikal</span>
                                <a href="/www_luzphoto_com/authors/marco-pighin">Marco Pighin</a>
                            </span>
    <!-- tokyo -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="139.6917064" data-lat="35.6894875">tokyo</span>
                                <a href="/www_luzphoto_com/authors/james-whitlow-delano">James Whitlow Delano</a>
                                <a href="/www_luzphoto_com/authors/jeremie-souteyrat">Jeremie Souteyrat</a>
                            </span>
    <!-- Sarajevo -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="18.4130763000001" data-lat="43.8562586">Sarajevo</span>
                                <a href="/www_luzphoto_com/authors/ziyah-gafic">Ziyah Gafic</a>
                            </span>
    <!-- Parigi -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="2.35222190000002" data-lat="48.856614">Parigi</span>
                                <a href="/www_luzphoto_com/authors/pascal-meunier">Pascal Meunier</a>
                                <a href="/www_luzphoto_com/authors/meyer"> Meyer</a>
                                <a href="/www_luzphoto_com/authors/flore-ael-surun">Flore-Ael Surun</a>
                                <a href="/www_luzphoto_com/authors/gilles-coulon">Gilles Coulon</a>
                                <a href="/www_luzphoto_com/authors/patrick-tourneboeuf">Patrick Tourneboeuf</a>
                                <a href="/www_luzphoto_com/authors/pascal-aimar">Pascal Aimar</a>
                                <a href="/www_luzphoto_com/authors/philippe-lopparelli">Philippe Lopparelli</a>
                                <a href="/www_luzphoto_com/authors/stanley-greene">Stanley Greene</a>
                                <a href="/www_luzphoto_com/authors/nicola-lo-calzo">Nicola Lo Calzo</a>
                                <a href="/www_luzphoto_com/authors/gerard-uferas">Gerard Uferas</a>
                                <a href="/www_luzphoto_com/authors/lea-crespi">Lea Crespi</a>
                            </span>
    <!-- Kabul -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="69.166667" data-lat="34.533333">Kabul</span>
                                <a href="/www_luzphoto_com/authors/andrea-bruce">Andrea Bruce</a>
                            </span>
    <!-- Dubrovnik -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="18.0944238" data-lat="42.6506606">Dubrovnik</span>
                                <a href="/www_luzphoto_com/authors/lindsay-mackenzie">Lindsay Mackenzie</a>
                            </span>
    <!-- Burgos -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="-3.69690600000001" data-lat="42.3439925">Burgos</span>
                                <a href="/www_luzphoto_com/authors/rosa-basurto">Rosa Basurto</a>
                            </span>
    <!-- Turin -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="7.68685649999998" data-lat="45.070312">Turin</span>
                                <a href="/www_luzphoto_com/authors/diana-bagnoli">Diana Bagnoli</a>
                            </span>
    <!-- Buenos Aires -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="-58.3815931" data-lat="-34.6037232">Buenos Aires</span>
                                <a href="/www_luzphoto_com/authors/irina-werning">Irina Werning</a>
                            </span>
    <!-- New Dehli -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="77.22496" data-lat="28.635308">New Dehli</span>
                                <a href="/www_luzphoto_com/authors/stuart-freedman">Stuart Freedman</a>
                                <a href="/www_luzphoto_com/authors/olivier-culmann">Olivier Culmann</a>
                            </span>
    <!-- Barcellona -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="2.17340349999995" data-lat="41.3850639">Barcellona</span>
                                <a href="/www_luzphoto_com/authors/fernando-moleres">Fernando Moleres</a>
                                <a href="/www_luzphoto_com/authors/mattia-insolera">Mattia Insolera</a>
                            </span>
    <!-- Hamburg -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="9.99368179999999" data-lat="53.5510846">Hamburg</span>
                                <a href="/www_luzphoto_com/authors/linn-schroder">Linn Schroder</a>
                            </span>
    <!-- Hannover -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="9.73201040000004" data-lat="52.3758916">Hannover</span>
                                <a href="/www_luzphoto_com/authors/frank-schinski">Frank Schinski</a>
                            </span>
    <!-- Bruxelles -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="4.35171030000004" data-lat="50.8503396">Bruxelles</span>
                                <a href="/www_luzphoto_com/authors/stephan-vanfleteren">Stephan Vanfleteren</a>
                            </span>
    <!-- Nairobi -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="36.8219462" data-lat="-1.2920659">Nairobi</span>

                            </span>
    <!-- Belgrado -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="20.466667" data-lat="44.816667">Belgrado</span>
                                <a href="/www_luzphoto_com/authors/andrew-testa">Andrew Testa</a>
                            </span>
    <!-- Taipei -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="121.5598345" data-lat="25.091075">Taipei</span>
                                <a href="/www_luzphoto_com/authors/chris-stowers">Chris Stowers </a>
                            </span>
    <!-- Bogota -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="-74.075833" data-lat="4.598056">Bogota</span>
                                <a href="/www_luzphoto_com/authors/paul-smith">Paul Smith</a>
                            </span>
    <!-- Shanghai -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="121.473701" data-lat="31.230416">Shanghai</span>
                                <a href="/www_luzphoto_com/authors/qilai-shen">Qilai Shen</a>
                            </span>
    <!-- Varsavia -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="21.0122287" data-lat="52.2296756">Varsavia</span>
                                <a href="/www_luzphoto_com/authors/piotr-malecki">Piotr Malecki</a>
                            </span>
    <!-- Delft -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="4.35706770000002" data-lat="52.0115769">Delft</span>
                                <a href="/www_luzphoto_com/authors/martin-roemers">Martin Roemers</a>
                            </span>
    <!-- Oslo -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="10.7522454" data-lat="59.9138688">Oslo</span>
                                <a href="/www_luzphoto_com/authors/espen-rasmussen">Espen Rasmussen</a>
                            </span>
    <!-- Dhaka -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="90.4125180999999" data-lat="23.810332">Dhaka</span>
                                <a href="/www_luzphoto_com/authors/gmb-akash">Gmb Akash</a>
                            </span>
    <!-- Auckland -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="174.7633315" data-lat="-36.8484597">Auckland</span>
                                <a href="/www_luzphoto_com/authors/jocelyn-carlin">Jocelyn Carlin </a>
                            </span>
    <!-- Managua -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="-86.251389" data-lat="12.136389">Managua</span>
                                <a href="/www_luzphoto_com/authors/kadir-van-lohuizen">Kadir Van lohuizen</a>
                            </span>
    <!-- Malorca -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="3.01757120000002" data-lat="39.6952629">Malorca</span>
                                <a href="/www_luzphoto_com/authors/pep-bonet">Pep Bonet</a>
                            </span>
    <!-- San Francisco -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="-122.4194155" data-lat="37.7749295">San Francisco</span>
                                <a href="/www_luzphoto_com/authors/jon-lowenstein">Jon Lowenstein</a>
                                <a href="/www_luzphoto_com/authors/nicolo-minerbi">Nicolo' Minerbi</a>
                            </span>
    <!-- los angeles -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="-118.2436849" data-lat="34.0522342">los angeles</span>
                                <a href="/www_luzphoto_com/authors/douglas-kirkland">Douglas Kirkland</a>
                            </span>
    <!-- santa cruz -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="-122.0307963" data-lat="36.9741171">santa cruz</span>
                                <a href="/www_luzphoto_com/authors/frans-lanting">Frans Lanting</a>
                            </span>
    <!-- Perth -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="115.856321242188" data-lat="-31.952744848192">Perth</span>
                                <a href="/www_luzphoto_com/authors/guy-calaf">Guy Calaf</a>
                            </span>
    <!-- Napa -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="-122.286865" data-lat="38.2975381">Napa</span>
                                <a href="/www_luzphoto_com/authors/peter-menzel">Peter Menzel</a>
                            </span>
    <!-- Morges -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="6.4929214" data-lat="46.5152627">Morges</span>
                                <a href="/www_luzphoto_com/authors/fondation-horst-tappe">Fondation horst Tappe</a>
                            </span>
    <!-- Firenze -->
            <span class="authors-data">
                <span class="authors-data_city" data-lng="11.2480006000001" data-lat="43.7710332">Firenze</span>
                                <a href="/www_luzphoto_com/authors/alberto-giuliani">Alberto Giuliani</a>
                            </span>


    </div>
        <div class="authors-map_canvas"></div>
        <div class="authors-map_infobox">
            <div class="authors-map_infobox_city">
                <h6></h6>
                <a class="icn-close" href="#"></a>
            </div>
            <div class="authors-map_infobox_content"></div>
        </div>
        <div class="authors-map_infobox-mobile">
            <a class="icn-close" href="#"></a>
            <h6></h6>
            <div></div>
        </div>
        <a class="authors-map_map-control authors-toggler" href="#"><span></span></a>
        <div class="authors-map_map-control authors-map-filters">
            <a href="#" data-lat="0" data-lng="0" class="authors-map-filters_active">WORLD</a>
            <a href="#" data-lat="13.94688489306551" data-lng="28.828890750000006" data-zoom="3">AFRICA</a>
            <a href="#" data-lat="30.241974281964897" data-lng="-76.13525624999996" data-zoom="3">AMERICA</a>
            <a href="#" data-lat="50.1360650536269" data-lng="107.55615000000004" data-zoom="3">ASIA</a>
            <a href="#" data-lat="50.24860233552648" data-lng="18.610837500000084" data-zoom="4">EUROPE</a>
            <a href="#" data-lat="-19.205364851606802" data-lng="140.69091562500003" data-zoom="4">OCEANIA</a>
        </div>
        <div class="authors-map_zoom">
            <a class="authors-map_map-control authors-map_zoom-in" href="#"><span class="icn-plus"></span></a>
            <a class="authors-map_map-control authors-map_zoom-out" href="#"><span class="icn-minus"></span></a>
        </div>
    </div>

</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDov3nL1G1HqqYdK-tz6L5KfkHIwpWggkc"></script>
<!--(bake partials/end.html)-->