<!--(bake partials/head.html layout="l-default")-->
<div id="content" class="l-default" data-page="clients-page">
    <!--(bake partials/navigation.html)-->
    <div class="clients-page page">
        <div id="clients">
            <h2 class="page-title">Our clients</h2>
            <div class="page-text clients-text">
                Since its launch, LUZ and its network of authors have established themselves as an essential point of reference for all the industries looking for an innovative but strong partner to help them make an impact with their unique story, services and products.
            </div>
            <div class="tabs">
                <ul class="tabs-controls" data-tabs-start="A">
                    <li data-tabs-target="A">COMPANIES</li>
                    <li data-tabs-target="B">AGENCIES</li>
                    <li data-tabs-target="C">PUBLISHERS</li>
                </ul>
                <div data-tabs="A" class="tabs-content page-text">
                    <ul class="tab-col tab-col25">
                        <li>ABC Tools</li>
                        <li>Airberlin</li>
                        <li>Artemide</li>
                        <li>AstraZeneca</li>
                        <li>AXA</li>
                        <li>Barilla</li>
                        <li>Bayer</li>
                        <li>BNL</li>
                        <li>Boscolo Hotel</li>
                        <li>Bottoli</li>
                        <li>Caffe' Nero</li>
                        <li>Carrefour Italia</li>
                        <li>Cartorama</li>
                        <li>Dolomite</li>
                    </ul>
                    <ul class="tab-col tab-col25">
                        <li>ENEL</li>
                        <li>FAO</li>
                        <li>Fay</li>
                        <li>Ferrarelle</li>
                        <li>Ferrero</li>
                        <li>Fnac</li>
                        <li>Fondazione Veronesi</li>
                        <li>Galbani</li>
                        <li>Gefran</li>
                        <li>Homelab</li>
                        <li>Illy</li>
                        <li>Intesa San Paolo</li>
                        <li>Kerakoll</li>
                        <li>Leroy Merlin</li>
                    </ul>
                    <ul class="tab-col tab-col25">
                        <li>Limoni</li>
                        <li>Louis Vuitton</li>
                        <li>l’Oréal</li>
                        <li>Macef</li>
                        <li>Marcolin Group</li>
                        <li>MCS we the people</li>
                        <li>Mercedes Benz</li>
                        <li>Moleskine</li>
                        <li>Nestlè</li>
                        <li>OSR</li>
                        <li>PUMA</li>
                        <li>Radio 101</li>
                        <li>Regione Toscana</li>
                        <li>So.Med</li>
                    </ul>
                    <ul class="tab-col tab-col25">
                        <li>Telecom</li>
                        <li>Telethon</li>
                        <li>Tendercapital</li>
                        <li>Tenderfin</li>
                        <li>Timberland</li>
                        <li>Trenitalia</li>
                        <li>Witor's</li>
                        <li>Zagliani</li>
                    </ul>
                </div>
                <div data-tabs="B" class="tabs-content page-text">
                    <ul class="tab-col tab-col50">
                        <li>Div. L'Oreal Paris Comunicazione</li>
                        <li>Edelman</li>
                        <li>Fasten Seat Belt</li>
                        <li>Frello & Partners</li>
                        <li>Idue</li>
                        <li>Insideout eventi</li>
                        <li>Jolie Advertising</li>
                        <li>M&C Saatchi</li>
                        <li>Marketude</li>
                        <li>Neo</li>
                        <li>Neonetwork</li>
                        <li>Ogilvy</li>
                        <li>Saatchi & Saatchi</li>
                        <li>Saffirio Tortelli Vigoriti</li>
                    </ul>
                    <ul class="tab-col tab-col50">
                        <li>Sintesi HUB</li>
                        <li>Tosi comunicazione</li>
                        <li>United 1861</li>
                        <li>Zodiak</li>
                    </ul>
                </div>
                <div data-tabs="C" class="tabs-content page-text">
                    <ul class="tab-col tab-col50">
                        <li>Aftenposten</li>
                        <li>Alternative Internationales</li>
                        <li>Cairo Editore</li>
                        <li>Courrier International</li>
                        <li>Edizioni Condé Nast</li>
                        <li>Forbes</li>
                        <li>GmbH & Co</li>
                        <li>Granta</li>
                        <li>Gruppo l'Espresso</li>
                        <li>Hearst Magazines</li>
                        <li>Internazionale</li>
                        <li>Le Monde</li>
                        <li>Liberation</li>
                        <li>LUCIANO BERNARDINI DE PACE EDITORE S.r.l</li>
                    </ul>
                    <ul class="tab-col tab-col33">
                        <li>Mondadori Editore</li>
                        <li>National Geographic</li>
                        <li>Newsweek</li>
                        <li>Photo Paris</li>
                        <li>Prisma Media</li>
                        <li>RCS Rizzoli</li>
                        <li>The New York Times</li>
                        <li>The Sunday Times</li>
                        <li>Time</li>
                        <li>Turnaround Publisher Services</li>
                        <li>Vrij</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<!--(bake partials/end.html)-->