<!--(bake partials/head.html layout="l-default")-->
<div id="content" class="l-default" data-page="contact-page">
    <!--(bake partials/navigation.html)-->
    <div class="page contact-page">
        <div id="contact" class="contact cf">
            <h2 class="page-title">Our Team</h2>
            <div class="contact-info">
                <div class="page-text">
                    LUZ management team boasts strong expertise in the consulting, strategic, editorial, advertising, corporate development and talent management sectors. Please feel free to contact us for all inquiries!
                </div>
                <h3>LUZ</h3>
                <ul>
                    <li>via Vivaio 6,20122 Milano</li>
                    <li>C.F. and P.I. 13122310157</li>
                    <li>R.E.A. 1619202</li>
                </ul>
                <ul>
                    <li><a href="mailto:info@luzphoto.com">E info@luzphoto.com</a></li>
                    <li>P +39 02.39197006</li>
                    <li>F +39 02.45071205</li>
                </ul>
                <div class="page-text">
                    LUZ is a publication registered by Tribunale di Milano, 191 on April, 08 2011 all rights reserved. Picture reproduction in whole or in part in any form or medium without written permission of LUZ photo Agency s.r.l. is prohibited
                </div>
            </div>
            <form class="contact-form" action="http://url.com">

                <div class="contact-response contact-response_ok">Your message has been sent.</div>
                <div class="contact-response contact-response_ko">Ops, something has gone wrong.</div>

                <div class="contact-field">
                    <label for="contact_name">Name</label>
                    <input type="text" id="contact_name" name="contact_name" data-valid="required"/>
                </div>
                <div class="contact-field">
                    <label for="contact_email">Email</label>
                    <input type="text" id="contact_email" name="contact_email" data-valid="email"/>
                </div>
                <div class="contact-field">
                    <label for="contact_reference">Reference</label>
                    <div class="contact-select">
                        <span class="contact-select_value"></span>
                        <div class="contact-select_dropdown"></div>
                        <i class="icn-disclosure"></i>
                        <select name="contact_reference" id="contact_reference">
                            <option value="info@luzphoto.com" selected="selected">Luz | Info </option>
                            <option value="roberto.minetto@luzphoto.com">Roberto Minetto | Ceo - Partner</option>
                            <option value="giovanni.picchi@luzphoto.com">Giovanni Picchi | General Manager - Partner</option>
                            <option value="andrea.amato@luzphoto.com">Andrea Amato | Partner</option>
                            <option value="mauro.toscano@luzphoto.com">Mauro Toscano | Partner</option>
                            <option value="massimo.mastrorillo@luzphoto.com">Massimo Mastrorillo | Talent Manager</option>
                            <option value="federico@luzphoto.com">Federico Cattaruzza | Editorial Sales</option>
                            <option value="maddalena.giovanardi@luzphoto.com">Maddalena Giovanardi | Corporate development</option>
                            <option value="gioia.sottocase@luzphoto.com">Gioia Sottocasa | Corporate development</option>
                            <option value="sales@luzphoto.com">Flaminia Moizo | International Sales</option>
                        </select>
                    </div>
                </div>

                <div class="contact-field">
                    <textarea name="contact_text" id="contact_text" cols="30" rows="10" data-valid="required"></textarea>
                </div>

                <div class="contact-controls cf">
                    <input type="reset" value="Cancel"/>
                    <input class="contact-submit" type="submit" value="Send"/>
                </div>

            </form>

        </div>
    </div>
</div>
<!--(bake partials/end.html)-->