<!--(bake partials/head.html layout="l-default")-->
<div id="content" class="l-default" data-page="features">
    <!--(bake partials/navigation.html)-->
    <div class="feature feature-video">
        <a class="lightbox-control lightbox-close feature-close"><i class="icn-close"></i></a>
        <div class="feature-text">
            <header class="feature-header">
                <h6 class="feature-date">26.06.2014</h6>
                <h3 class="feature-title"><a href="list.html"><i class="icn icn-back"></i></a>Stormy Riders: Jockey Kids in Indonesia</h3>
                <h4 class="feature-author">Romi Perbawa</h4>
                <h5 class="feature-subtitle">Stormy Riders: Jockey Kids in Indonesia</h5>
            </header>

            <div class="feature-textcontent">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut viverra dui. Praesent id tempor libero. Nullam hendrerit malesuada lorem, id dapibus metus. Fusce et tellus at sem vehicula sodales. Fusce mollis felis vitae feugiat ornare. Donec vel auctor orci, non posuere magna. Maecenas pulvinar augue tristique magna tristique euismod. In sit amet dictum tellus.</p>
                <p>Nunc a sapien urna. Proin diam sem, porttitor vel libero in, porttitor porttitor arcu. Praesent imperdiet porttitor leo, in mattis est tincidunt quis. Curabitur gravida nunc sit amet ante mollis congue. Aenean semper enim sit amet est consectetur posuere. Etiam euismod, diam nec tincidunt pulvinar, nisl lorem vulputate elit, tempor adipiscing neque est a risus. Nunc eros odio, pellentesque ac commodo at, laoreet et massa. Maecenas ac tincidunt risus, nec sagittis odio. Aenean consectetur fermentum velit, pellentesque rutrum ipsum consequat nec. Nunc consequat orci ut convallis aliquet. Nunc placerat fermentum eros, id tristique neque bibendum vitae. Nulla viverra, metus non varius malesuada, augue tortor adipiscing quam, laoreet sollicitudin leo nisl at sapien. Fusce porttitor, nibh et aliquet cursus, tortor ipsum dignissim purus, vitae vulputate ipsum lorem adipiscing quam. Vivamus tincidunt accumsan magna, id hendrerit quam vestibulum malesuada. Pellentesque id lectus sem. Aliquam nibh lectus, pretium vitae nisl at, convallis lobortis justo.</p>
                <p>Donec eu imperdiet quam, eu imperdiet velit. Nunc vulputate commodo orci, ullamcorper interdum ligula suscipit ac. Nunc vitae tempus erat. Quisque placerat lectus vel quam viverra, vitae congue lacus placerat. Duis at turpis eu lorem tincidunt congue. Vestibulum nisl velit, pulvinar a lobortis a, convallis quis justo. Etiam laoreet orci sit amet diam mattis, eget hendrerit quam tempor. Proin in ante non arcu lobortis cursus.</p>
                <p>Mauris sollicitudin euismod felis at feugiat. Nunc mi est, aliquet eu luctus vitae, ultricies vel risus. Curabitur tempus vehicula suscipit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec at tristique ante. Maecenas dictum, purus ut iaculis suscipit, est sapien posuere tortor, sit amet ultricies magna lacus vitae libero. Nulla pulvinar lectus sed metus sodales, mollis aliquet justo dignissim.</p>
                <p>Nullam at vulputate nulla, sit amet volutpat dolor. Nunc luctus nunc nulla, vel vulputate tortor interdum eleifend. Proin aliquam ullamcorper eros, vitae aliquam nunc faucibus posuere. Aliquam eu velit mi. Nam tellus nunc, auctor id dui at, pretium pellentesque odio. Ut eleifend eget metus eu vehicula. Fusce placerat, nisl id facilisis eleifend, mi arcu imperdiet metus, in commodo ante arcu vel nibh. Maecenas egestas adipiscing tortor a ultrices. Suspendisse rhoncus massa convallis tincidunt aliquam. Donec enim est, sodales in diam eu, dignissim vestibulum eros. Etiam adipiscing, dui vitae malesuada tincidunt, urna nisi iaculis turpis, vel lacinia magna leo at lacus. Nullam ornare tristique ante et mattis. Maecenas non lorem lorem. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vitae erat euismod, rutrum leo vel, vulputate tellus. Nullam eu risus quis leo fermentum sagittis nec aliquam tortor.</p>
            </div>
        </div>
        <div class="feature-elements feature__one-element">
            <div class="feature-item">
                <div class="feature-item-text">
                    <h3 class="feature-item-index">01/03</h3>
                    <div>
                        EXCLUSIVE, INDONESIA - August 31, 2012. Statue of a horse in Bima, Sumbawa Island, West Nusa Tenggara, Indonesia. Without any fear, children aged 5-9 race on horseback at up to 80km per hour. In Sumbawa Island, West Nusa Tenggara, a horseback racing tradition involves child jockeys. The talent for horseback racing is passed on from generation to generation. Children learn to let go of their fear, even with the very real risk of falling, becoming maimed, or dying during the race. The local government and parents consider this tradition an important part of their culture, which must be preserved. Even with all the risks and dangers involved, no one cares for the safety of these child jockeys. Not even standard safety horse riding gear is provided. Besides safety, there are other concerns for the welfare of these children. Preparation and training for the horse riding races interferes with their education. Each year there are at least ten horse races. Each racing event takes at least ten days. This adds up, and every year these child jockeys are missing 100 days of school. No one views the situation as exploitation of children. The children are paid a small fee for each race of around Rp 20,000 to 50,000 rupiah (two to five USD). But the real money involved is from the betting at each race, which is not monitored or banned by the authorities. Photograph by Romi Perbawa / LUZ
                    </div>
                </div>
                <div class="feature-media media-video" data-video="https://www.youtube.com/watch?v=TJ1SDXbij8Y"><!--(bake partials/image-lazy.html src="sample/f1.png")--></div>
            </div>
        </div>
    </div>
</div>
<!--(bake partials/end.html)-->