<!--(bake partials/head.html layout="l-homepage")-->
<div id="content" data-page="homepage">
    <!--(bake partials/navigation.html)-->
    <div class="hpslider">
        <div class="hpslider_wrapper">
            <a href="#" class="hpslider_controls hpslider_prev"></a>
            <a href="#" class="hpslider_controls hpslider_next"></a>
            <div class="hpslider_content">
                <div class="hpslider_el hpslider_el__video">
                    <!--(bake partials/image-lazy.html src="sample/lapo-gq.jpg" extraclass="img-cover")-->
                    <!--(bake partials/image-lazy.html src="sample/lapo-gq2.jpg" extraclass="img-cover")-->
                    <!--(bake partials/image-lazy.html src="sample/lapo-gq3.jpg" extraclass="img-cover")-->
                </div>

                <div class="hpslider_el">
                    <!--(bake partials/image-lazy.html src="sample/enel-heroes.jpg" extraclass="img-cover")-->
                </div>

                <div class="hpslider_el">
                    <!--(bake partials/image-lazy.html src="sample/kerakoll.jpg" extraclass="img-cover")-->
                </div>
            </div>
            <div class="hpslider_info">
                <div class="hpslider_callout">
                    <div class="hpslider_tags">
                        <!-- order matters! -->
                        <span>Editorial</span>
                        <span>Adv</span>
                        <span>Adv</span>
                    </div>
                    <h3>IT'S ALL <a class="hpslider_action" href="#">ABOUT</a> STORIES</h3>
                    <div class="hpslider_project">
                        <!-- order matters! -->
                        <span data-href="www.google.it">LAPO ELKANN PER GQ</span>
                        <span data-href="www.google.com">GUERRIERI</span>
                        <span data-href="www.google.uk">KERAKOLL</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--(bake partials/end.html)-->
