<!--(bake partials/head.html layout="l-default")-->
<div id="content" class="l-default" data-page="insight">
    <!--(bake partials/navigation.html)-->
    <div class="insight">
        <div class="insight-info">
            <div class="page-col cf">
                <h2 class="page-title">Our Story</h2>
                <div class="page-text">
                    <p>
                        LUZ was born in 2010, picking up the story of Grazia Neri’s Photo Agency. It's now a one-of-a-kind reality devoted to helping magazines, institutions, brands and individuals tell their story in the most engaging way possible. This happened thanks to the different backgrounds of LUZ founders: Roberto Minetto from the editorial world (before CEO of Abitare Segesta S.pA.), Mauro Toscano from the communication field (before CEO of Red Cell WPP, today 1861 United), Andrea Amato radio and television author and Giovanni Picchi from Grazia Neri’s photo agency.
                    </p>

                    <p>
                        LUZ develops all-round projects - from consultancy to concept, from multichannel strategy to project management and development - finally allowing talent to make the difference.
                    </p>

                    <p>
                        The narrative potential of the work of the best photographers, videomakers, directors, journalists, bloggers, television and radio authors, both national and international, is realized through an integrated approach that overcomes the distinction between online and offline.
                    </p>

                    <p>
                        Nowadays, LUZ international network counts more than 300 professionals. Among them there are acclaimed masters such as Annie Leibowitz, Douglas Kirkland, Frans Lanting, James Hill and many other new talents that have already gained recognition from the most authoritative awards.
                    </p>

                </div>
            </div>
            <div class="page-col cf">
                <h3>SERVICES</h3>
                <ul class="insight-services">
                    <li>Photpgraphic production</li>
                    <li>Video production</li>
                    <li>Sync network production</li>
                    <li>Archive</li>
                    <li>Search on demand</li>
                    <li>Exhibitions and Events</li>
                    <li>Publishing</li>
                    <li>Brand Content</li>
                    <li>Advertising</li>
                    <li>Viral marketing</li>
                    <li>Guerilla marketing</li>
                    <li>Academy for talent development</li>
                </ul>
            </div>
        </div>
        <div class="insight-team">
            <ul>
                <li>
                    <!--(bake partials/image-lazy.html src="sample/1.jpg" )-->
                    <div class="overlay">
                        <a class="overlay-close" href="#">close</a>
                        <div class="overlay-content">
                            <div>
                                <span class="overlay_project">Name 1</span>
                                <span class="overlay_client">Role</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <!--(bake partials/image-lazy.html src="sample/2.jpg" )-->
                    <div class="overlay">
                        <a class="overlay-close" href="#">close</a>
                        <div class="overlay-content">
                            <div>
                                <span class="overlay_project">Name 1</span>
                                <span class="overlay_client">Role</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <!--(bake partials/image-lazy.html src="sample/3.jpg" )-->
                    <div class="overlay">
                        <a class="overlay-close" href="#">close</a>
                        <div class="overlay-content">
                            <div>
                                <span class="overlay_project">Name 1</span>
                                <span class="overlay_client">Role</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <!--(bake partials/image-lazy.html src="sample/4.jpg" )-->
                    <div class="overlay">
                        <a class="overlay-close" href="#">close</a>
                        <div class="overlay-content">
                            <div>
                                <span class="overlay_project">Name 1</span>
                                <span class="overlay_client">Role</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <!--(bake partials/image-lazy.html src="sample/5.jpg" )-->
                    <div class="overlay">
                        <a class="overlay-close" href="#">close</a>
                        <div class="overlay-content">
                            <div>
                                <span class="overlay_project">Name 1</span>
                                <span class="overlay_client">Role</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--(bake partials/end.html)-->
