<!--(bake partials/head.html layout="l-default")-->
<div id="content" data-page="list">
    <!--(bake partials/navigation.html)-->
    <!--(bake partials/filters.html)-->
    <div class="slider">
        <div class="slider-actions">
            <a class="filters-trigger animated" href="#"><i class="icn icn-plus"></i> ALL <span class="slider-counter">162</span></a>
            <div class="slider-controls">
                <a class="slider-prev" href="#"><svg><use xlink:href="#icon-prev"></use></svg></a>
                <a class="slider-next" href="#"><svg><use xlink:href="#icon-next"></use></svg></a>
            </div>
        </div>
        <div class="slider-mask">
            <div class="slider-wrap">
                <div class="slider-el">
                    <!--(bake partials/image-lazy.html src="sample/1.jpg")-->
                    <div class="overlay animated">
                        <a class="overlay-close" href="#">close</a>
                        <div class="overlay-content">
                            <div>
                                <a href="#" class="overlay_client">Saatchi & Saatchi</a>
                                <a href="#" class="overlay_project">#Guerrieri</a>
                                <a href="#" class="overlay_author">Lorenzo Castore</a>
                                <p class="overlay_description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat... </p>
                            </div>
                        </div>
                    </div>
                    <a class="slider-el_cat" href="#">EDITORIAL</a>
                </div>
                <div class="slider-el">
                    <!--(bake partials/image-lazy.html src="sample/2.jpg")-->
                    <div class="overlay animated">
                        <a class="overlay-close" href="#">close</a>
                        <div class="overlay-content">
                            <div>
                                <a href="#" class="overlay_client">Saatchi & Saatchi</a>
                                <a href="#" class="overlay_project">#Guerrieri</a>
                                <a href="#" class="overlay_author">Lorenzo Castore</a>
                                <p class="overlay_description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat... </p>
                            </div>
                        </div>
                    </div>
                    <a class="slider-el_cat" href="#">ADV</a>
                </div>
                <div class="slider-el">
                    <!--(bake partials/image-lazy.html src="sample/3.jpg")-->
                    <div class="overlay animated">
                        <a class="overlay-close" href="#">close</a>
                        <div class="overlay-content">
                            <div>
                                <a href="#" class="overlay_client">Client name</a>
                                <a href="#" class="overlay_project">#ProjectName</a>
                                <a href="#" class="overlay_author">Author Name</a>
                                <p class="overlay_description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat... </p>
                            </div>
                        </div>
                    </div>
                    <a class="slider-el_cat" href="#">BRAND CONTENT</a>
                </div>
                <div class="slider-el">
                    <!--(bake partials/image-lazy.html src="sample/4.jpg")-->
                    <div class="overlay animated">
                        <a class="overlay-close" href="#">close</a>
                        <div class="overlay-content">
                            <div>
                                <a href="#" class="overlay_client">Client name</a>
                                <a href="#" class="overlay_project">#ProjectName</a>
                                <a href="#" class="overlay_author">Author Name</a>
                                <p class="overlay_description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat... </p>
                            </div>
                        </div>
                    </div>
                    <a class="slider-el_cat" href="#">EDITORIAL</a>
                </div>
                <div class="slider-el">
                    <!--(bake partials/image-lazy.html src="sample/5.jpg")-->
                    <div class="overlay animated">
                        <a class="overlay-close" href="#">close</a>
                        <div class="overlay-content">
                            <div>
                                <a href="#" class="overlay_client">Client name</a>
                                <a href="#" class="overlay_project">#ProjectName</a>
                                <a href="#" class="overlay_author">Author Name</a>
                                <p class="overlay_description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat... </p>
                            </div>
                        </div>
                    </div>
                    <a class="slider-el_cat" href="#">ADV</a>
                </div>
                <div class="slider-el">
                    <!--(bake partials/image-lazy.html src="sample/3.jpg")-->
                    <div class="overlay animated">
                        <a class="overlay-close" href="#">close</a>
                        <div class="overlay-content">
                            <div>
                                <a href="#" class="overlay_client">Client name</a>
                                <a href="#" class="overlay_project">#ProjectName</a>
                                <a href="#" class="overlay_author">Author Name</a>
                                <p class="overlay_description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat... </p>
                            </div>
                        </div>
                    </div>
                    <a class="slider-el_cat" href="#">ADV</a>
                </div>
                <div class="slider-el">
                    <!--(bake partials/image-lazy.html src="sample/1.jpg")-->
                    <div class="overlay animated">
                        <a class="overlay-close" href="#">close</a>
                        <div class="overlay-content">
                            <div>
                                <a href="#" class="overlay_client">Client name</a>
                                <a href="#" class="overlay_project">#ProjectName</a>
                                <a href="#" class="overlay_author">Author Name</a>
                                <p class="overlay_description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat... </p>
                            </div>
                        </div>
                    </div>
                    <a class="slider-el_cat" href="#">ADV</a>
                </div>
                <div class="slider-el">
                    <!--(bake partials/image-lazy.html src="sample/1.jpg")-->
                    <div class="overlay animated">
                        <a class="overlay-close" href="#">close</a>
                        <div class="overlay-content">
                            <div>
                                <a href="#" class="overlay_client">Saatchi & Saatchi</a>
                                <a href="#" class="overlay_project">#Guerrieri</a>
                                <a href="#" class="overlay_author">Lorenzo Castore</a>
                                <p class="overlay_description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat... </p>
                            </div>
                        </div>
                    </div>
                    <a class="slider-el_cat" href="#">EDITORIAL</a>
                </div>
                <div class="slider-el">
                    <!--(bake partials/image-lazy.html src="sample/2.jpg")-->
                    <div class="overlay animated">
                        <a class="overlay-close" href="#">close</a>
                        <div class="overlay-content">
                            <div>
                                <a href="#" class="overlay_client">Saatchi & Saatchi</a>
                                <a href="#" class="overlay_project">#Guerrieri</a>
                                <a href="#" class="overlay_author">Lorenzo Castore</a>
                                <p class="overlay_description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat... </p>
                            </div>
                        </div>
                    </div>
                    <a class="slider-el_cat" href="#">ADV</a>
                </div>
                <div class="slider-el">
                    <!--(bake partials/image-lazy.html src="sample/3.jpg")-->
                    <div class="overlay animated">
                        <a class="overlay-close" href="#">close</a>
                        <div class="overlay-content">
                            <div>
                                <a href="#" class="overlay_client">Client name</a>
                                <a href="#" class="overlay_project">#ProjectName</a>
                                <a href="#" class="overlay_author">Author Name</a>
                                <p class="overlay_description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat... </p>
                            </div>
                        </div>
                    </div>
                    <a class="slider-el_cat" href="#">BRAND CONTENT</a>
                </div>
                <div class="slider-el">
                    <!--(bake partials/image-lazy.html src="sample/4.jpg")-->
                    <div class="overlay animated">
                        <a class="overlay-close" href="#">close</a>
                        <div class="overlay-content">
                            <div>
                                <a href="#" class="overlay_client">Client name</a>
                                <a href="#" class="overlay_project">#ProjectName</a>
                                <a href="#" class="overlay_author">Author Name</a>
                                <p class="overlay_description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat... </p>
                            </div>
                        </div>
                    </div>
                    <a class="slider-el_cat" href="#">EDITORIAL</a>
                </div>
                <div class="slider-el">
                    <!--(bake partials/image-lazy.html src="sample/5.jpg")-->
                    <div class="overlay animated">
                        <a class="overlay-close" href="#">close</a>
                        <div class="overlay-content">
                            <div>
                                <a href="#" class="overlay_client">Client name</a>
                                <a href="#" class="overlay_project">#ProjectName</a>
                                <a href="#" class="overlay_author">Author Name</a>
                                <p class="overlay_description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat... </p>
                            </div>
                        </div>
                    </div>
                    <a class="slider-el_cat" href="#">ADV</a>
                </div>
                <div class="slider-el">
                    <!--(bake partials/image-lazy.html src="sample/3.jpg")-->
                    <div class="overlay animated">
                        <a class="overlay-close" href="#">close</a>
                        <div class="overlay-content">
                            <div>
                                <a href="#" class="overlay_client">Client name</a>
                                <a href="#" class="overlay_project">#ProjectName</a>
                                <a href="#" class="overlay_author">Author Name</a>
                                <p class="overlay_description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat... </p>
                            </div>
                        </div>
                    </div>
                    <a class="slider-el_cat" href="#">ADV</a>
                </div>
                <div class="slider-el">
                    <!--(bake partials/image-lazy.html src="sample/1.jpg")-->
                    <div class="overlay animated">
                        <a class="overlay-close" href="#">close</a>
                        <div class="overlay-content">
                            <div>
                                <a href="#" class="overlay_client">Client name</a>
                                <a href="#" class="overlay_project">#ProjectName</a>
                                <a href="#" class="overlay_author">Author Name</a>
                                <p class="overlay_description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat... </p>
                            </div>
                        </div>
                    </div>
                    <a class="slider-el_cat" href="#">ADV</a>
                </div>
                <div class="slider-el">
                    <!--(bake partials/image-lazy.html src="sample/1.jpg")-->
                    <div class="overlay animated">
                        <a class="overlay-close" href="#">close</a>
                        <div class="overlay-content">
                            <div>
                                <a href="#" class="overlay_client">Saatchi & Saatchi</a>
                                <a href="#" class="overlay_project">#Guerrieri</a>
                                <a href="#" class="overlay_author">Lorenzo Castore</a>
                                <p class="overlay_description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat... </p>
                            </div>
                        </div>
                    </div>
                    <a class="slider-el_cat" href="#">EDITORIAL</a>
                </div>
                <div class="slider-el">
                    <!--(bake partials/image-lazy.html src="sample/2.jpg")-->
                    <div class="overlay animated">
                        <a class="overlay-close" href="#">close</a>
                        <div class="overlay-content">
                            <div>
                                <a href="#" class="overlay_client">Saatchi & Saatchi</a>
                                <a href="#" class="overlay_project">#Guerrieri</a>
                                <a href="#" class="overlay_author">Lorenzo Castore</a>
                                <p class="overlay_description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat... </p>
                            </div>
                        </div>
                    </div>
                    <a class="slider-el_cat" href="#">ADV</a>
                </div>
                <div class="slider-el">
                    <!--(bake partials/image-lazy.html src="sample/3.jpg")-->
                    <div class="overlay animated">
                        <a class="overlay-close" href="#">close</a>
                        <div class="overlay-content">
                            <div>
                                <a href="#" class="overlay_client">Client name</a>
                                <a href="#" class="overlay_project">#ProjectName</a>
                                <a href="#" class="overlay_author">Author Name</a>
                                <p class="overlay_description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat... </p>
                            </div>
                        </div>
                    </div>
                    <a class="slider-el_cat" href="#">BRAND CONTENT</a>
                </div>
                <div class="slider-el">
                    <!--(bake partials/image-lazy.html src="sample/4.jpg")-->
                    <div class="overlay animated">
                        <a class="overlay-close" href="#">close</a>
                        <div class="overlay-content">
                            <div>
                                <a href="#" class="overlay_client">Client name</a>
                                <a href="#" class="overlay_project">#ProjectName</a>
                                <a href="#" class="overlay_author">Author Name</a>
                                <p class="overlay_description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat... </p>
                            </div>
                        </div>
                    </div>
                    <a class="slider-el_cat" href="#">EDITORIAL</a>
                </div>
                <div class="slider-el">
                    <!--(bake partials/image-lazy.html src="sample/5.jpg")-->
                    <div class="overlay animated">
                        <a class="overlay-close" href="#">close</a>
                        <div class="overlay-content">
                            <div>
                                <a href="#" class="overlay_client">Client name</a>
                                <a href="#" class="overlay_project">#ProjectName</a>
                                <a href="#" class="overlay_author">Author Name</a>
                                <p class="overlay_description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat... </p>
                            </div>
                        </div>
                    </div>
                    <a class="slider-el_cat" href="#">ADV</a>
                </div>
                <div class="slider-el">
                    <!--(bake partials/image-lazy.html src="sample/3.jpg")-->
                    <div class="overlay animated">
                        <a class="overlay-close" href="#">close</a>
                        <div class="overlay-content">
                            <div>
                                <a href="#" class="overlay_client">Client name</a>
                                <a href="#" class="overlay_project">#ProjectName</a>
                                <a href="#" class="overlay_author">Author Name</a>
                                <p class="overlay_description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat... </p>
                            </div>
                        </div>
                    </div>
                    <a class="slider-el_cat" href="#">ADV</a>
                </div>
                <div class="slider-el">
                    <!--(bake partials/image-lazy.html src="sample/1.jpg")-->
                    <div class="overlay animated">
                        <a class="overlay-close" href="#">close</a>
                        <div class="overlay-content">
                            <div>
                                <a href="#" class="overlay_client">Client name</a>
                                <a href="#" class="overlay_project">#ProjectName</a>
                                <a href="#" class="overlay_author">Author Name</a>
                                <p class="overlay_description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat... </p>
                            </div>
                        </div>
                    </div>
                    <a class="slider-el_cat" href="#">ADV</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--(bake partials/end.html)-->
