<!--(bake partials/head.html layout="l-default")-->
<div id="content" class="l-default" data-page="single">
    <!--(bake partials/navigation.html)-->
    <div class="project">
        <div class="project-info">
            <div class="project-info_head">
                <span class="project-info_date">21.10.2014</span>
                <span class="project-info_name"><a href="authors.html" class="icn icn-back"></a>Philip Toledano</span>
            </div>
            <a class="project-info_client" href="#">Marie Claire Russia</a>
            <a class="project-info_author" href="#">Nicolò Minerbi</a>
            <a class="project-info_tag" href="#">Editorial</a>

            <p class="project-info_description">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>
        </div>
        <div class="project-thumbs">
            <div class="project-el media-video" data-project-full="https://vimeo.com/110789411" data-project-title="Title project 1"><!--(bake partials/image-lazy.html src="http://i.vimeocdn.com/video/495575256_640.jpg")--></div>
        </div>
    </div>
</div>
<!--(bake partials/end.html)-->