<!--(bake partials/head.html layout="l-default")-->
<div id="content" class="l-default" data-page="single">
    <!--(bake partials/navigation.html)-->
    <div class="project">
        <div class="project-info">
            <div class="project-info_head">
                <span class="project-info_client">FORBES</span>
                <span class="project-info_name"><a href="authors.html" class="icn icn-back"></a>Philip Toledano</span>
            </div>
            <a class="project-info_author" href="#">Nicolò Minerbi</a>

            <p class="project-info_description">
                Forbes cover by Nicolò Minerbi
            </p>
        </div>
        <div class="project-thumbs">
            <div class="project-el media-video" data-project-full="http://luz.it/sites/default/files/works/telethon/wol14hero.jpg" data-project-title="Title project 1"><!--(bake partials/image-lazy.html src="http://luz.it/sites/default/files/works/telethon/wol14hero.jpg")--></div>
            <div class="project-el" data-project-full="http://luz.it/sites/default/files/works/annie-leibovitz-portfolio-vanity-fair/00.jpg" data-project-title="Title project 2"><!--(bake partials/image-lazy.html src="http://luz.it/sites/default/files/works/annie-leibovitz-portfolio-vanity-fair/00.jpg")--></div>
            <div class="project-el" data-project-full="http://www.lorenzopicchi.it/www_luzphoto_com/sites/default/files/works/Lo%20sguardo%20di%20Andy%20Rocchelli/Internazionale05.jpg" data-project-title="Title project 3"><!--(bake partials/image-lazy.html src="http://www.lorenzopicchi.it/www_luzphoto_com/sites/default/files/works/Lo%20sguardo%20di%20Andy%20Rocchelli/Internazionale05.jpg")--></div>
        </div>
    </div>
</div>
<!--(bake partials/end.html)-->
