<div class="filters-overlay animated"></div>
<div class="filters animated">
    <a class="icn icn-close filters-close" href="#"></a>
    <div class="filters-wrapper">
        <ul class="filters-list">
            <li><span class="filters-active" href="#">ALL <span class="filters-counter">123</span></span</li>
        </ul>
        <span class="filters-category">BY TYPE</span>
        <ul class="filters-list">
            <li><a href="#">ADV <span class="filters-counter">45</span></a></li>
            <li><a href="#">BRAND CONTENT <span class="filters-counter">45</span></a></li>
            <li><a href="#">EDITORIAL ASSIGNMENTS<span class="filters-counter">45</span></a></li>
        </ul>

        <span class="filters-category">BY LOCATION</span>
        <ul class="filters-list">
            <li><a href="#">EUROPE <span class="filters-counter">45</span></a></li>
            <li><a href="#">ASIA <span class="filters-counter">22</span></a></li>
            <li><a href="#">AFRICA <span class="filters-counter">15</span></a></li>
            <li><a href="#">NORTH AMERICA <span class="filters-counter">45</span></a></li>
            <li><a href="#">SOUTH AMERICA <span class="filters-counter">3</span></a></li>
        </ul>

        <span class="filters-category">BY SUBJECT</span>
        <ul class="filters-list">
            <li><a href="#">PORTRAIT <span class="filters-counter">12</span></a></li>
            <li><a href="#">LANDSCAPE <span class="filters-counter">34</span></a></li>
            <li><a href="#">STUDIO <span class="filters-counter">34</span></a></li>
        </ul>
    </div>
</div>
