<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LUZ</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <link rel="stylesheet" href="css/main.css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,300' rel='stylesheet' type='text/css'>


    <!--[if lt IE 9]>
    <script src="js/src/vendor/html5shiv.min.js"></script>
    <![endif]-->

    <!-- FB -->
    <meta property="og:title" content="PAGE TITLE"/>
    <meta property="og:url" content="CANONICAL URL"/>
    <meta property="og:image" content="IMAGE"/>
    <meta property="og:site_name" content="SITE NAME"/>
    <meta property="og:type" content="profile | article | website"/>

</head>
<body class="{{ layout }}" data-baseurl="/luz/">
<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div id="luz-loader" class="animated"></div>
