<picture class="img-lazyload {{extraclass}}" data-loaded="false">
    <img data-src="{{ src }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Luz"/>
    <span class="img-lazyload_loader"> </span>
    <span class="img-lazyload_img"></span>
</picture>