<div class="icon-svg">
    <!--(bake icons.html)-->
</div>
<div id="navigation" class="animated">
    <h1 id="logo">
        <a href="/">LUZ PHOTO - About stories</a>
    </h1>
    <div class="nav-wrapper">
        <a class="nav-close" href="#"></a>
        <nav class="main-nav">
            <ul class="main-nav_top">
                <li><a class="nav-active" href="works.html">WORKS</a></li>
                <li><a href="authors.html">AUTHORS</a></li>
                <li><a href="http://www.luzphoto.com/academy/">ACADEMY</a></li>
                <li><a class="clients-link" href="clients.html">CLIENTS</a></li>
                <li><a href="insight.html">INSIGHT</a></li>
                <li><a class="contact-link" href="contact.html">CONTACT</a></li>
            </ul>
            <ul class="main-nav_bottom">
                <li><a href="features.html">FEATURES</a></li>
                <li><a href="#">ARCHIVE</a></li>
            </ul>
        </nav>
        <ul class="social">
            <li><a href="http://luzstories.tumblr.com/"><svg><use xlink:href="#icon-tumblr"></use></svg></a></li>
            <li><a href="https://www.facebook.com/luzphoto"><svg><use xlink:href="#icon-facebook"></use></svg></a></li>
            <li><a href="https://twitter.com/LUZphoto_Agency"><svg><use xlink:href="#icon-twitter"></use></svg></a></li>
            <li><a href="http://instagram.com/luzphoto"><svg><use xlink:href="#icon-instagram"></use></svg></a></li>
            <li><a href="http://www.pinterest.com/luzphoto"><svg><use xlink:href="#icon-pinterest"></use></svg></a></li>
            <li><a href="https://vimeo.com/user5206702"><svg><use xlink:href="#icon-vimeo"></use></svg></a></li>
        </ul>
        <p class="copy">
            © LUZphoto Agency s.r.l<br/>
            all rights reserved
        </p>
    </div>

    <a class="nav-trigger" href="#">
        <span></span>
    </a>
</div>
<a class="nav-toggle animated" href="#">
    <img src="img/logo-black_solo.svg" alt="Luz Photo Agency"/>
</a>