.author-profile{
  position: absolute;
  top:0;
  left: 181px;
  right: 0;
  bottom: 0px;

}

.author-profile__ready{}

.author-projects_single_padding{ display: none; }
.author-info{
  width:35%;
  float: left;
  padding-top: 114px;
}

.author-info a{ text-decoration: none; }

.author-info_city{
  display: block;
  font-size: 14px;
  color:rgba(255,255,255,0.2);
  margin-bottom: 5px;
}
.author-info_name{
  display: block;
  font-size: 25px;
  color: #ffffff;
  letter-spacing: -1px;
}
.author-skills{
  margin-bottom:45px;
  margin-top:16px;
}
.author-skills li{
  width: 33%;
  float: left;
  font-size: 16px;
  margin-bottom: 8px;

}
.author-skills li a{ color: $gray-light }
.author-skills li a:hover{ color: #fff }

.author-skills li span{ color:$gray-dark_text; }

.author-description{}
.author-description p{
  font-size: 14px;
  line-height: 20px;
  color: #636363;
  margin-bottom: 27px;
}
.author-projects{
  width: 62%;
  float: right;
}
.author-projects_thumbs{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.author-projects_offset{display: none !important; visibility: hidden;}

.author-projects_thumbs li{
  position: relative;
  display: block;
  cursor: pointer;
  width: 49.9%;
  float: left;
  margin-bottom: 1px;
}

.author-projects_thumbs .overlay-zoom{display: none}

.author-projects_thumbs li:first-child{margin-right: 1px}
.author-projects_thumbs li:last-child{margin-left: 1px}

.author-projects_thumbs li.author-active picture:after{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 5px 5px 0px #00afea,inset -5px -10px 0px #00AFEB;
  -moz-box-shadow: inset 5px 5px 0px #00afea,inset -5px -10px 0px #00AFEB;
  box-shadow: inset 5px 5px 0px #00afea,inset -5px -10px 0px #00AFEB;

}

.author-projects_thumbs li picture{
  position: relative;
  width: 100%;
}
.author-projects_thumbs li picture img{
  width: 100%;
}

html.no-touch .author-projects_thumbs li{
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
html.no-touch .author-projects_thumbs:hover li{ opacity: 0.4; }
html.no-touch .author-projects_thumbs li:hover{ opacity: 1; }
html.no-touch .author-projects_thumbs li:hover .overlay{ display: block; }

.author-showcase{ display: none }


/* custom fancybox */
.fancybox-skin{ background: transparent; }


.fancybox-opened .fancybox-skin{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.fancybox-title{ display: none !important; visibility: hidden !important; }

.lightbox-controls{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 8011;
  cursor: pointer;
}


.lightbox-control{
  position: absolute;
  display: block;
  width: 54px;
  height: 54px;
  background: transparent;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -ms-transition: -ms-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}


.lightbox-control svg{ fill:#fff; }

.lightbox-prev,
.lightbox-next{
  top: 50%;
  margin-top: -27px;
}

.lightbox-prev i,
.lightbox-next i{
  position: absolute;
  left: 17px;
  top: 11px;
  width: 15px;
}

.lightbox-close{ right: 0; }
.lightbox-close i{
  display: block;
  position: absolute;
  left: 14px;
  top: 12px;
}
.lightbox-close i:after,
.lightbox-close i:before{ background: #fff; }

.lightbox-prev{ left: 0px; }
.lightbox-next{ right: 0px; }
.lightbox-close{ top:0px;}

.lightbox-controls__noarrows{
  .lightbox-prev,
  .lightbox-next{ display: none !important; }
}

html.csstransforms3d{
  .lightbox-prev{ left: -54px; }
  .lightbox-next{ right: -54px; }
  .lightbox-close{ top:-54px; }

  .lightbox-controls__show{
    .lightbox-prev{
      -webkit-transform: translate3d(54px,0px,0px);
      -moz-transform: translate3d(54px,0px,0px);
      -ms-transform: translate3d(54px,0px,0px);
      -o-transform: translate3d(54px,0px,0px);
      transform: translate3d(54px,0px,0px);
    }
    .lightbox-next{
      -webkit-transform: translate3d(-54px,0px,0px);
      -moz-transform: translate3d(-54px,0px,0px);
      -ms-transform: translate3d(-54px,0px,0px);
      -o-transform: translate3d(-54px,0px,0px);
      transform: translate3d(-54px,0px,0px);
    }
    .lightbox-close{
      -webkit-transform: translate3d(0px,54px,0px);
      -moz-transform: translate3d(0px,54px,0px);
      -ms-transform: translate3d(0px,54px,0px);
      -o-transform: translate3d(0px,54px,0px);
      transform: translate3d(0px,54px,0px);
    }
  }

}

.lightbox-header{
  position: absolute;
  width: 100%;
  height: 51px;
  background: $gray-dark;
  color: #e6e6e6;
  bottom: -51px;
  left: 0;
  z-index: 8011;
  -webkit-transition: bottom 0.5s ease-in-out;
  -moz-transition: bottom 0.5s ease-in-out;
  -ms-transition: bottom 0.5s ease-in-out;
  -o-transition: bottom 0.5s ease-in-out;
  transition: bottom 0.5s ease-in-out;
}

.lightbox-header p{
  display: block;
  height: 51px;
  line-height: 51px;
  font-size: 14px;
  text-align: center;
  margin: 0;
  padding: 0 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lightbox-counter{
  display: block;
  position: absolute;
  left: 24px;
  top:0;
  height: 51px;
  font-size: 14px;
  line-height: 51px;
}

.lightbox-header__show{ display:block; bottom: 0px; }


@media( max-width:1024px){
}

@media( max-width:768px){
  .lightbox-header{ display: none }
  .author-profile{ left: 0px; top: 110px; }
  .author-info_head{
    position: fixed;
    z-index: 100;
    top:130px;
    background: $gray-dark;
    width: 100%;
    margin-left: -33px;
    padding: 33px;
  }
  .author-skills{
    margin-top: 60px;
    height: 0;
    overflow: hidden;
  }

  .author-info{
    padding-top: 50px;
    padding-left: 33px;
    padding-right: 33px;
    width: 100%;
    float: none;
    max-width: 100%;
    position: relative;
  }
  .author-projects{
    width: 100%;
    float: none;
  }

  .author-projects{}
  .author-projects_thumbs li{ width: 100%; float: none }
  .author-projects .img-lazyload.img-cover.img-loaded>img{ display: block !important; }
  .author-projects .img-lazyload.img-loaded .img-lazyload_img { display: none;}

  .author-projects_offset{ display: block !important; visibility: visible; }



}

@media( max-width:580px){
  .author-info{
    padding-top: 0;
  }
  .author-info_head{ top: 77px; }
}