$filterWidth : 750px;

.slider__authors{
  background: $gray-dark;
  display: none;
  height: auto;
  top:22px;
  margin-top: 0;
  z-index: 48;
  .filters-trigger{
    top: 14px;
  }
  .slider-controls{
    display: none;
  }
  .overlay_city{
    font-weight: normal;
    font-size: 15px;
    opacity: 0.7;
  }
  .overlay_author{
    font-size: 15px;
    font-weight: normal !important;
    text-transform: none;
    cursor: pointer !important;
  }
}

.authors-map_overlay{
  display: none;
  position: absolute;
  opacity: 0;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  background: rgba(49,49,49,.7);
  z-index: 50;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}


.slider__authors.authors-panel{
  display: none;
  position: absolute;
  top:0px;
  bottom: 0px;
  width: $filterWidth;
  left: -$filterWidth;
  z-index: 100;
  -webkit-transition: left 0.5s ease-in-out;
  -moz-transition: left 0.5s ease-in-out;
  -ms-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;

  .slider-mask{
    position: absolute;
    right: 0;
    width: 510px;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
  }
  .slider-el{
    display: block;
    float: left;
    width: 253px;
    height: 218px;
    margin-right: 2px;
    margin-bottom: 2px;
  }
}

/*.authors-filters__disabled:after{
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  background: rgba(0,0,0,.9);
  display: block !important;
  opacity: 1 !important;
}*/

.authors-filters__disabled{ display: none !important; }

html.csstransforms3d .slider__authors.authors-panel{
  left: 0;
  -webkit-transform: translate3d(-$filterWidth,0px,0px);
  -moz-transform: translate3d(-$filterWidth,0px,0px);
  -ms-transform: translate3d(-$filterWidth,0px,0px);
  -o-transform: translate3d(-$filterWidth,0px,0px);
  transform: translate3d(-$filterWidth,0px,0px);

  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -ms-transition: -ms-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

.authors-map_canvas{
  position: absolute;
  top:0px;
  left: 181px;
  right: 0;
  bottom: 0;
  z-index: 48;
}

.authors-map_data{
  display: none;
  visibility: hidden;
}

.author-map_label{
  position: absolute;
  color: #fff;
  font-size: 15px;
  font-family: 'Open Sans';
  cursor: pointer;
  visibility: hidden;
}
.author-map_marker{
  position: absolute;
  cursor: pointer;
  margin-left: 4px;
  @extend .ieshit;
}

.touch .author-map_marker{
  width: 16px !important;
  height: 16px !important;

}

.authors-map_infobox_city{
  position: relative;
  padding-left: 15px;
  padding-right: 50px;
  height: 60px;
  line-height: 60px;
  font-size: 17px;
  @include bluergba(1);
  color: #fff;
  border-bottom:solid 1px $gray-dark;

  h6{
    font-size: 17px;
    font-weight: normal;
    margin: 0;
  }
}

.authors-map_infobox_city .icn-close {
  position: absolute;
  top: 22px;
  right: 13px;
  width: 14px;
  height: 14px;
}
.authors-map_infobox_city .icn-close:after {
  top: 6px;
  width: 14px;
  height: 2px;
  left: 1px;
}

.authors-map_infobox_city .icn-close:before {
  left: 7px;
  width: 2px;
  height: 14px;
}

.authors-map_infobox{
  display: none;
  position: absolute;
  z-index: 100;
  border:solid 1px $gray-dark;
}

.authors-map_infobox_content a{
  display: block;
  height: 40px;
  font-size: 15px;
  font-weight: 100;
  line-height: 40px;
  color: #fff;
  border-bottom:solid 1px $gray-dark;
  @include bluergba(0.9);
  text-decoration: none;
  padding-left: 15px;
  padding-right:15px;
}

.authors-map_infobox_content{
  max-height: 210px; /*5+1/2 element (40px+2px)*5 + 21px = 205px */
  overflow-y: scroll;
  -webkit-overflow-scrolling:touch;
}

.authors-map_map-control{
  position: absolute;
  display: block;
  width: 65px;
  height: 65px;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.authors-toggler{
  top:32px;
  left: 181px;
  z-index: 99;
  background: $gray-dark;

}
.authors-toggler span,
.authors-toggler:before,
.authors-toggler:after{
  width: 24px;
  margin-left: 20px;
  background: #dedede;
}
.authors-toggler span{ margin-bottom: 4px; }
.authors-toggler:before{ margin-top: 24px; margin-bottom: 4px; }

.authors-map_zoom{
  position: absolute;
  left: 200px;
  height: 130px;
  width: 65px;
  z-index: 99;
  bottom: 12px;
}
.authors-map_zoom-in{
  top:0;
  span{ display: block; left: 15px; top:15px; }
  span:before,
  span:after{ background: #838383; }
}

.authors-map_zoom-out{
  top:66px;
  span{ display:block; background: #838383; left: 15px; top:30px; }
}

.authors-map_zoom-in:hover span:before,
.authors-map_zoom-in:hover span:after,
.authors-map_zoom-out:hover span{ background: #fff; }


.authors-map-filters{
  position: absolute;
  top:32px;
  right: 65px;
  z-index: 99;
  a{
    display: inline-block;
    width:126px;
    height: 65px;
    text-align: center;
    line-height: 65px;
    color: #838383;
    background: rgba(42,42,42,.4);
    margin-bottom: 3px;
    text-decoration: none;
  }
  a:hover{ color:#fff; }
  a.authors-map-filters_active{ background: $gray-dark; color: #fff; }
}

/* hide google map style */
.gmnoprint{display: none !important; }

.authors-panel__show{
  .authors-map_overlay{
    opacity: 1;
  }
  .slider__authors{
    left: 181px;
  }
  .authors-map_map-control{opacity: 0;}
}

html.csstransforms3d .authors-panel__show .slider__authors{
  left: 0;
  -webkit-transform: translate3d(181px,0px,0px);
  -moz-transform: translate3d(181px,0px,0px);
  -ms-transform: translate3d(181px,0px,0px);
  -o-transform: translate3d(181px,0px,0px);
  transform: translate3d(181px,0px,0px);
}

.authors-filters{
  position: absolute;
  left: 10px;
  color: #838383;
  width: 200px;
  ul{ margin: 0px 0px 45px 0px; }
  ul li{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 15px;
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -ms-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;

    .authors-filters_counter{ float: right; }
  }
  ul li:hover{ color: #fff; }

}

.authors-filters_active{ color: #fff; }
.authors-filters__hide .slider-mask{opacity: 0}
.authors-filters__hide .authors-filters_loader{ /*display: block;*/ }

.authors-filters_category{
  font-size: 16px;
  font-weight: normal !important;
  color: #515151;
  margin: 20px 0px;
  text-transform: uppercase;
  line-height: 1;
}

.authors-filters_loader{
  position: absolute;
  display: none;
  width: 14px;
  height: 14px;
  top:50%;
  left: 486px;
  background: $blue-light;

  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;

  -webkit-animation-name: loading-pulse;
  animation-name: loading-pulse;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -moz-animation-timing-function     : ease-in-out;
  -o-animation-timing-function       : ease-in-out;
  -webkit-animation-timing-function  : ease-in-out;
  animation-timing-function          : ease-in-out;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;


}

.authors-map_infobox-mobile{
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  -webkit-overflow-scrolling:touch;
  background: $gray-dark;
  color: #fff;
  z-index: 100;

  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -ms-transition: -ms-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;

  -webkit-transform: translate3d(0px,300px,0px);
  -moz-transform: translate3d(0px,300px,0px);
  -ms-transform: translate3d(0px,300px,0px);
  -o-transform: translate3d(0px,300px,0px);
  transform: translate3d(0px,300px,0px);

  .icn-close {
    position: absolute;
    left: 18px;
    top: 23px;
  }

  div{
    position: absolute;
    top:65px;
    bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
    padding-left: 20px;
    width: 100%;

    a{
      display: block;
      text-decoration: none;
      margin-bottom: 17px;
      font-size: 21px;
      color: #929292;
    }
  }

  h6{
    font-size: 21px;
    font-weight: normal;
    margin: 21px 0px 0px 60px;
    text-transform: uppercase;
  }
}
.authors-map_infobox-mobile a{
  display: block;
}

.authors-map_infobox-mobile__show{
  -webkit-transform: translate3d(0px,0px,0px);
  -moz-transform: translate3d(0px,0px,0px);
  -ms-transform: translate3d(0px,0px,0px);
  -o-transform: translate3d(0px,0px,0px);
  transform: translate3d(0px,0px,0px);

}

img[src="https://maps.gstatic.com/mapfiles/api-3/images/google_white2.png"]{display: none !important;}


.slider__authors-close{ cursor: pointer; }

@media (max-width: 1023px) {
  .authors-map-filters{display: none; visibility: hidden;}
}

@media(max-width: 768px){
  .authors-map_canvas{ left: 0; top:86px }
  .authors-toggler{ display: none; }
  .authors-map_zoom{ right: 0px; left: auto; }
}

@media(max-width: 480px){
  .slider__authors{ display: none;}
  .authors-map_infobox{ display: none !important; }
}