/*=== variables ===*/
$blue : #0ea6d5;
$blue-light:#00afea;
$gray-dark: #1f1f1f;
$gray-light: #838383;
$gray-dark_text:#343434;
/*=== mixin ===*/
@mixin bluergba($alpha){
  background: rgba(2,142,190,$alpha);
}

.ieshit{
  /* IE click on transparent div hack! fuck you Ms! */
  background: #fff;
  filter:alpha(opacity=0);
  opacity: 0;
}

.scrollbar-tester{
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}

/*=== base ===*/
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans';
  overflow-x: hidden;
}

::selection {
  background: $blue-light; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: $blue-light; /* Gecko Browsers */
  color: #fff;
}

a:focus{ outline: none }

ul{list-style-type: none; padding-left: 0}



