.contact-form{
  width: 60%;
  float: left;
  padding-right:33px;
}

.contact-info{
  width: 38%;
  margin-right: 2%;
  float: left;
  h3{
    font-size: 17px;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: normal;
  }
  a{ color: inherit; text-decoration: none; }
  a:hover{ color: $blue-light; }
  ul{
    margin: 0 0 27px 0;
    padding: 0;
  }
  ul li{ font-size: 14px; color: #636363; margin-bottom: 5px; }
}

.l-homepage .contact-info h3{ color: $gray-dark_text }

.contact-page .contact-close{ display: none }

.contact-form label,
.contact-form p{
  color:#9b9b9b;
}

.contact-title{
  font-size: 17px;
  text-transform: uppercase;
  line-height: 170%;
  margin-bottom: 40px;
}

.contact-field{
  margin-bottom: 25px;
}
.contact-field label{
  display: block;
  font-size: 15px;
  margin: 0 0 12px 0;
  font-weight: normal !important;
}
.contact-field input,
.contact-field textarea,
.contact-select_value{
  display: block;
  width: 100%;
  margin: 0;
  padding-left: 12px;
  background: #353535;
  color: #fff;
  /*border: solid 1px #4c4c4c;*/
  border: none;
  font-size: 14px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;

  -webkit-appearance: none;
  border-radius: 0;
}


.contact-field input,
.contact-select_value{ height: 44px;}
.contact-field textarea{ height: 236px; }

.contact-select{
  height: 44px;
  position: relative;
}

.contact-select_dropdown{
  display: none;
  position: absolute;
  top:44px;
  width: 100%;

  max-height: 140px; /* contains 3 elements */
  overflow-y: scroll;
  -webkit-overflow-scrolling:touch;
  border-bottom: 1px solid $gray-dark;

  ul{
    list-style-type: none;
    margin: 0;
  }
  ul li{
    background: #353535;
    padding: 10px 12px;
    border-bottom: solid 1px $gray-dark;
    color: #cdcdcd;
    font-size: 14px;
    cursor: pointer;
  }
  ul li:hover{ background: #525252; color: $gray-dark; }
  ul li:hover span{ color: $gray-dark; }
  ul li:last-child{border-bottom: none }
  ul li span{ color: #cdcdcd; }
  ul li span:before{content: ' / '}
}

/*.contact-select_dropdown::-webkit-scrollbar              { width: 16px; border: solid 1px $gray-dark; background: #404040; }
.contact-select_dropdown::-webkit-scrollbar-button       { }
.contact-select_dropdown::-webkit-scrollbar-track        { }
.contact-select_dropdown::-webkit-scrollbar-track-piece  { }
.contact-select_dropdown::-webkit-scrollbar-thumb        { }
.contact-select_dropdown::-webkit-scrollbar-corner       { }
.contact-select_dropdown::-webkit-resizer                { }*/

.contact-select select{display: none; }
.contact-select_value{ background: #353535; color: #cdcdcd; line-height: 44px; cursor: pointer; border-bottom: solid 1px $gray-dark;}
.contact-select_value>span{ color: #cdcdcd; }
.contact-select_value>span:before{ content: ' / ' }
.contact-select .icn-disclosure{
  position: absolute;
  top:20px;
  right: 16px;
  cursor: pointer;
}

.select__focus{
  .contact-select_value,
  .contact-select_dropdown ul li{ background: #464646; }
  .contact-select_dropdown ul li:hover{ background: #525252; }
}

html.touch{
  .contact-select select{
    display: block;
    position: absolute;
    top: 0;
    height: 44px;
    -webkit-appearance: none;
    width: 100%;
    opacity: 0;
  }
}

.contact-field input:focus,
.contact-field textarea:focus{
  outline: none;
  background: #464646;
}

.contact-controls{
  padding-top: 9px;
  padding-bottom: 34px;
  input{
    width: 104px;
    height: 46px;
    color:#1f1f1f;
    text-transform: uppercase;
    border: none;
  }
  input[type="submit"]{ float: right; background: $blue-light; }
  input[type="reset"]{
    float: left;
    background: #292929;
    color: #636363;
  }
}

.contact-error{
  border: solid 1px darkred !important;
}
.contact-response{
  position: absolute;
  display: none;
  font-size: 14px;
  color: #9b9b9b;
  text-align: center;
}

.l-homepage {
  .contact-field input,
  .contact-field textarea,
  .contact-select_value,{
    background: #cccccc;
    color: #808080;
    border: none;
  }

  .contact-select_value span{ color: #808080; }
  .select__focus .contact-select_value{ color: #cdcdcd; }
  .select__focus .contact-select_value,
  .select__focus .contact-select_dropdown ul li{ background: #838383; }
  .select__focus .contact-select_dropdown ul li:hover{ background: #838383; }

}


@media(max-width: 1023px){
  .contact-info{
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 66px;
  }

  .contact-form{
    float: none;
    width: 100%;
    margin-right: 0;
    padding-right: 0;
  }
}

@media(max-width: 480px){
  .contact-select_value>span{ display: none; }
}
