
.filters-trigger{
  @extend .light;
  color: #ffffff;
  text-decoration: none;
}

.filters-close{
  position: absolute;
  top: 58px;
  left: 134px;
  width: 30px;
  height: 30px;
}
.filters-close:before{
  left: 13px;
  width: 2px;
  height: 30px;
}
.filters-close:after{
  top: 13px;
  width: 30px;
  height: 2px;
}

.filters-overlay{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 301;
  background: rgba(31,31,31,.9)/*$gray-dark*/;
  opacity: 0;
  display: none;
}

.filters-overlay__visible{
  display: block;
}

.filters{
  position: absolute;
  top: 0px;
  left: 48px;
  bottom: 0;
  z-index: 302;
  opacity: 0;
  display: none;
}

#content.nav-toggleOut .filters{ left: -96px }

.filters__visible{
  display: block;
}

.filters-wrapper{
  position: absolute;
  width: 620px;
  top:0;
  bottom:0;
  left: 181px;
  overflow-y: scroll;
  -webkit-overflow-scrolling:touch;
}
.filters-category{
  display: block;
  font-size: 16px;
  color: #9d9d9d;
  text-indent: 5px;
}

.filters-list{
  margin-top: 20px;
  margin-bottom: 38px;
  li{
    line-height: 1;
  }
  li a,
  li>span{
    padding:2px 10px 2px 3px;
    position: relative;
    display: block;
    color:#838383;
    @extend .light;
    text-decoration: none;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
  }

  li span.filters-active{
    color: #ffffff;
  }
}

.no-touch .filters-list li a:hover{
  background: $blue-light;
  color: #000000;
  .filters-counter{display: block}
}

.filters-counter{
  float: right;
  display: none;
}

@media(max-width: 768px){
  #content.nav-toggleOut .filters{ left: 33px }
  .filters{
    left: 33px;
  }
  .filters-wrapper{
    right: 30px;

  }
}

@media (max-width:481px) {
  .filters{ left: 0; top:96px; }
  .filters-wrapper{ left:50px; max-width: 200px; }
  .filters-close{ left: 10px; top:0px; }
  .filters-close:before{left:14px}
  .filters-list{ margin-top: 8px; margin-bottom: 12px; }
  .filters-list li{ margin-bottom: 5px }
  .filters-list li a{ font-size: 21px; letter-spacing: 0px; }
  .filters-active{ font-size: 25px !important; }
  .filters-trigger {
    top: 18px !important;
    font-size: 35px;
    left:18px !important;

    .icn-plus{ width:24px; height:24px }

  }

}