.icn{
  display: inline-block;
}

/* Prev icon */
.icn-prev,
.icn-next{
  position: relative;
  width: 18px;
  height: 34px;
}
.icn-prev:before,
.icn-prev:after,
.icn-next:after,
.icn-next:before{
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
}

.icn-prev:before{
  -webkit-transform: rotateZ(-45deg);;
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
.icn-prev:after{
  top:12px;
  -webkit-transform: rotateZ(45deg);;
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.icn-next:before{
  -webkit-transform: rotateZ(45deg);;
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.icn-next:after{
  top:12px;
  -webkit-transform: rotateZ(-45deg);;
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}


/* Plus icon */
.icn-plus{
  position: relative;
  width: 34px;
  height: 34px;
}
.icn-plus:before,
.icn-plus:after{
  display:block;
  position: absolute;
  content: ' ';
}
.icn-plus:before{
  width: 2px;
  height: 100%;
  top:0;
  left: 50%;
  margin-left:-1px;
}
.icn-plus:after{
  width: 100%;
  height: 2px;
  top:50%;
  margin-top:-1px;
  left: 0;
}

.icn-minus{
  position: relative;
  width: 34px;
  height: 2px;
}


/* Close icon */
.icn-close{
  width: 25px;
  height: 25px;
  -webkit-transform: rotateZ(45deg);;
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.icn-close:after,
.icn-close:before{
  position: absolute;
  content: ' ';
  display: block;
  background: #fff;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

.icn-close:after{
  top:11px;
  width: 25px;
  height: 2px;
}

.icn-close:before{
  left: 11px;
  width: 2px;
  height: 25px;
}

.icn-disclosure{
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #bcbcbc;
}

.icn-back{
  width: 29px;
  height: 22px;
  background: url("../img/back.png");
  margin-right: 20px;
  margin-bottom: -2px;
}