$layerWidth:754px;
$navWidth:181px;
.layer{
  position: absolute;
  z-index: 299;
  width: $layerWidth;
  background: $gray-dark;
  left: -$layerWidth;
  top: 0;
  bottom: 0;
  -webkit-transition: left 0.5s ease-in-out;
  -moz-transition: left 0.5s ease-in-out;
  -ms-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
}
.layer-inner{}

.layer-overlay{
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(49,49,49,.7);
  z-index: 100;
}

.layer-close{}

.l-homepage{
  .layer,
  .layer-close{ background: #fff;}

  .layer .page-title{ color: $gray-dark_text; }

}

html.csstransforms3d{
  .layer{
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    -moz-transition: -moz-transform 0.5s ease-in-out;
    -ms-transition: -ms-transform 0.5s ease-in-out;
    -o-transition: -o-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
  }
}

html.csstransforms3d .layer__visible{
  -webkit-transform: translate3d($layerWidth+$navWidth,0px,0px);
  -moz-transform: translate3d($layerWidth+$navWidth,0px,0px);
  -ms-transform: translate3d($layerWidth+$navWidth,0px,0px);
  -o-transform: translate3d($layerWidth+$navWidth,0px,0px);
  transform: translate3d($layerWidth+$navWidth,0px,0px);
}