@-webkit-keyframes loading-pulse{
  0%{ opacity: 0; }
  50%{ opacity: 1; }
  100%{ opacity: 0; }
}
@keyframes loading-pulse{
  0%{ opacity: 0; }
  50%{ opacity: 1; }
  100%{ opacity: 0; }
}

#luz-loader{
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  z-index: 200;
  opacity: 1;
}

body.page-loading{
  #logo{ z-index: 201; }
  #logo:after{
    position: absolute;
    right: 0px;
    content: ' ';
    display: block;
    height: 14px;
    width: 14px;
    top: 62px;
    -webkit-animation-name: loading-pulse;
    animation-name: loading-pulse;

    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    -moz-animation-timing-function     : ease-in-out;
    -o-animation-timing-function       : ease-in-out;
    -webkit-animation-timing-function  : ease-in-out;
    animation-timing-function          : ease-in-out;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  #luz-loader{ display: block; }


}

@media (max-width: 580px) {
  #logo:after{
    height: 11px !important;
    width: 11px !important;
    top: 39px !important;
  }
  #luz-loader{ background: #ffffff !important; }
  .page-loading { #logo:after{ background: #ffffff !important; } }
}
