#logo{
  position: relative;
  width: 115px;
  height: 93px;
  background-size: 115px 93px;
  margin:0 0 33px 0;
  background-repeat: no-repeat;

  a{
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
  }
}

#navigation{
  position: fixed;
  top:0;
  bottom: 0px;
  left: 0;
  width: 181px;
  padding-left: 33px;
  padding-top: 33px;
  z-index: 300;
  -webkit-transition: left 0.5s ease-in-out;
  -moz-transition: left 0.5s ease-in-out;
  -ms-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
}

html.csstransforms3d #navigation{
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -ms-transition: -ms-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}



#navigation a{
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.copy{
  position: absolute;
  bottom: 12px;
  font-size: 11px;
  line-height: 14px;
  color: #8b8b8b;
  margin: 0;
}

.main-nav_top,
.main-nav_bottom{ margin: 0; }

.main-nav_top li,
.main-nav_bottom li{
  margin-bottom: 12px;
}

.main-nav_top li a,
.main-nav_bottom li a{
  font-size: 17px;
  text-decoration: none;
}

.main-nav_bottom{
  position: absolute;
  bottom: 150px;
}

.social{
  display: table;
  position: absolute;
  bottom: 60px;
  margin: 0;
  max-width: 126px;
}

.social li{
  display: block;
  float: left;
  width: 28px;
  height: 28px;
  text-align: center;
  margin-right: 14px;
  margin-bottom: 14px;
  overflow: hidden;
}
.social li:last-child{margin-right: 0;}
.social li a{
  text-decoration: none;
  /*font-family: 'icomoon';
  font-size: 27px !important;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}


/*=== Mobile navigation ===*/
$nav-mobile_w :160px;
.nav-mobile{
  position: fixed;
  top:0px;
  bottom: 0;
  right: -$nav-mobile_w;
  width: $nav-mobile_w;
  padding:30px 15px;
  background: #1f1f1f;
  z-index: 201;
}

.nav-mobile a{ color:#828282;}
.nav-mobile a svg{fill:#828282;}

html.csstransforms3d .nav-mobile{
  right: 0;
  -webkit-transform: translate3d($nav-mobile_w,0px,0px);
  -moz-transform: translate3d($nav-mobile_w,0px,0px);
  -ms-transform: translate3d($nav-mobile_w,0px,0px);
  -o-transform: translate3d($nav-mobile_w,0px,0px);
  transform: translate3d($nav-mobile_w,0px,0px);

  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -ms-transition: -ms-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

.nav-mobile.nav-mobile__show{
  right: $nav-mobile_w;
}

html.csstransforms3d .nav-mobile.nav-mobile__show{
  right: 0;
  -webkit-transform: translate3d(0px,0px,0px);
  -moz-transform: translate3d(0px,0px,0px);
  -ms-transform: translate3d(0px,0px,0px);
  -o-transform: translate3d(0px,0px,0px);
  transform: translate3d(0px,0px,0px);
}



.nav-trigger{
  position: absolute;
  top:20px;
  right: 6px;
  display: none;
  width: 44px;
  height: 44px;
}

.nav-trigger span,
.nav-trigger:before,
.nav-trigger:after{
  position: relative;
  content: ' ';
  display: block;
  width: 26px;
  height: 2px;
  margin-bottom: 9px;
  background: #3f3f41;
  top:10px;
  left: 9px;
}

.authors-toggler span,
.authors-toggler:before,
.authors-toggler:after{
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  margin-bottom: 9px;
  background: #3f3f41;
}

.nav-close{
  display: none;
  position: absolute;
  top: 30px;
  right: 15px;
  width: 20px;
  height: 20px;
}
.nav-close:after,
.nav-close:before{
  position: absolute;
  content: ' ';
  display: block;
  background: #fff;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-transform: rotateZ(45deg);;
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.nav-close:after{
  top:9px;
  width: 20px;
  height: 2px;
}

.nav-close:before{
  left: 9px;
  width: 2px;
  height: 20px;
}

.nav-toggle{
  position: fixed;
  display: none;
  top:60px;
  left: -100px;
  width: 86px;
  height: 40px;
  background: $blue-light;
  -webkit-transition: left 0.5s ease-in-out;
  -moz-transition: left 0.5s ease-in-out;
  -ms-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
  img{
    display: block;
    margin: 7px 0px 0px 33px;
    height: 26px;
  }
}

html.csstransforms3d .nav-toggle{
  left: 0px;
  -webkit-transform: translate3d(-100px,0px,0px);
  -moz-transform: translate3d(-100px,0px,0px);
  -ms-transform: translate3d(-100px,0px,0px);
  -o-transform: translate3d(-100px,0px,0px);
  transform: translate3d(-100px,0px,0px);

  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -ms-transition: -ms-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

.nav-toggle:after{
  display: block;
  content: ' ';
  width: 0;
  height: 0;
  border-left: 14px solid $blue-light;
  border-top: 19px solid transparent;
  border-bottom: 21px solid transparent;
  position: absolute;
  top: 0;
  right: -14px;

}

.nav-wrapper{
  -webkit-transition: opacity 0.5s 0.3s ease-in-out;
  -moz-transition: opacity 0.5s 0.3s ease-in-out;
  -ms-transition: opacity 0.5s 0.3s ease-in-out;
  -o-transition: opacity 0.5s 0.3s ease-in-out;
  transition: opacity 0.5s 0.3s ease-in-out;
}


/* toggle in/out states are valid only on big viewports */
@media(min-width: 769px){

  #content.nav-toggleIn{
    #navigation{
      left: 0;
    }
    .nav-toggle{
      left: -100px;
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
    }
    .filters-trigger{ left:0; }
  }
  #content.nav-toggleOut{
    #navigation{ left: -181px }
    .nav-toggle{
      left: 0px;
      -webkit-transition-delay: 1s;
      -moz-transition-delay: 1s;
      -ms-transition-delay: 1s;
      -o-transition-delay: 1s;
      transition-delay: 1s;
    }
    .filters-trigger{ left: 33px; }
  }

  html.csstransforms3d #content.nav-toggleIn{
    #navigation{
      left: 0;
      -webkit-transform: translate3d(0px, 0px, 0px);
      -moz-transform: translate3d(0px, 0px, 0px);
      -ms-transform: translate3d(0px, 0px, 0px);
      -o-transform: translate3d(0px, 0px, 0px);
      transform: translate3d(0px, 0px, 0px);
    }
    .nav-toggle{
      left: 0;
      -webkit-transform: translate3d(-100px, 0px, 0px);
      -moz-transform: translate3d(-100px, 0px, 0px);
      -ms-transform: translate3d(-100px, 0px, 0px);
      -o-transform: translate3d(-100px, 0px, 0px);
      transform: translate3d(-100px, 0px, 0px);
    }
  }
  html.csstransforms3d #content.nav-toggleOut{
    #navigation {
      left: 0;
      -webkit-transform: translate3d(-181px, 0px, 0px);
      -moz-transform: translate3d(-181px, 0px, 0px);
      -ms-transform: translate3d(-181px, 0px, 0px);
      -o-transform: translate3d(-181px, 0px, 0px);
      transform: translate3d(-181px, 0px, 0px);
    }
    .nav-toggle{
      left: 0;
      -webkit-transform: translate3d(0px, 0px, 0px);
      -moz-transform: translate3d(0px, 0px, 0px);
      -ms-transform: translate3d(0px, 0px, 0px);
      -o-transform: translate3d(0px, 0px, 0px);
      transform: translate3d(0px, 0px, 0px);
    }
  }
}


@media(max-height: 768px){
  .nav-toggle{ top:28px; }
}

@media(max-width: 768px) and (min-width: 581px){ #logo{ margin: 33px 0 33px 33px; } }

@media(min-width: 481px) and
      (max-width: 768px){
  #navigation{
    position: fixed;
    width: 100%;
    height: 158px;
    left: 0;
    right: 0;
    padding: 0;
  }
  .social{
    position: relative;
    float: right;
    bottom: auto;
    right: 33px;
  }

  .nav-mobile{display: none}
  .nav-wrapper{
    position: absolute;
    height: 91px;
    top:33px;
    left: 170px;
    right: 0;
  }

  .main-nav_top{
    position: relative;
    float: left;
    width: 200px;
    li{
      min-width: 90px;
      display: inline-block;
      padding-right: 0px;
    }
  }
  .main-nav_bottom{
    position: relative;
    width: 110px;
    bottom: auto;
    float: left;
    li{
      display: inline-block;
      padding-right: 25px;
    }
  }

  .copy{ right: 33px; }

}

@media(max-width: 768px){
  .social{ width: 126px }
  .copy{ bottom: -15px }
}

@media(max-width: 580px){
  #logo{
    position: relative;
    left: 0;
    top: 0;
    width: 75px;
    height: 60px;
    float: left;
    background: url("../img/logo.svg") !important;
    background-size: 75px 60px !important;

  }
  #content{ padding-top: 86px; }
  #navigation{
    position: fixed;
    width: 100%;
    height: 86px;
    left: 0;
    top:0;
    right: auto;
    bottom: auto;
    padding: 15px;
    z-index:201;
    background: #ffffff !important;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

  }
  .nav-trigger{ display: block; }
  .nav-close{ display: block }

  #navigation .nav-wrapper{ display: none }
  .copy{ bottom: 15px }
}
