$overlay-offset : 0;
.overlay{
  position: absolute;
  top:$overlay-offset;
  left:$overlay-offset;
  right: $overlay-offset;
  bottom:$overlay-offset;
  color: #fff;
  @include bluergba(0.8);
  display: none;
  /*opacity: 0;
  visibility: hidden;*/
  text-align: center;
}

.overlay-close{
  position: absolute;
  top:21px;
  left: 50%;
  margin-left: -13px;
  display: block;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  background: url("../img/close_white.svg") no-repeat;
}

.overlay-zoom{
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  left: 50%;
  top: 50%;
  margin-top: -13px;
  margin-left: -13px;
  text-indent: -9999px;
}

.overlay__clear{
  background: transparent !important;
}

.overlay-zoom:before,
.overlay-zoom:after{
  content: ' ';
  display: block;
  position: absolute;
  background: #fff;
}
.overlay-zoom:before{
  width: 24px;
  height: 1px;
  top: 12px;
  left: 0;
}
.overlay-zoom:after{
  width: 1px;
  height: 24px;
  top: 0;
  left: 12px;
}

.overlay-visible{ visibility: visible !important; }

.overlay-content{
  display: table;
  width: 100%;
  height: 100%;
}
.overlay-content>div{
  display: table-cell;
  vertical-align: middle;
}

.overlay_client,
.overlay_author,
.overlay_project{ display: block; color: inherit !important; text-decoration: none; }

.overlay_project{
  margin: 0;
  line-height: 1.1;
  text-transform: uppercase;
}

.overlay_description{ font-size: 14px; max-width: 50%; margin-left: auto; margin-right: auto; margin-top: 35px; }

.overlay_client,
.overlay_author{ font-size: 25px; font-weight: 100; margin: 0 }

.overlay_client{ opacity: 0.7; cursor: default !important; }

.overlay_project:hover,
.overlay_author:hover{
  text-decoration: underline;
}


@media(max-width:768px){
  $overlay-offset : 0;
  .overlay {
    position: absolute;
    top: $overlay-offset;
    left: $overlay-offset;
    right: $overlay-offset;
    bottom: $overlay-offset;
  }
}

@media (min-width: 768px) {
  .slider-el .overlay-close{
    left: auto;
    right: 21px;
    margin-left: 0;
  }
}

@media(max-width: 480px){
  .overlay_description{ display: none }
  .overlay_client,
  .overlay_author{
    font-size: 15px;
  }
  .overlay_project{
    font-size: 36px;
  }
  .overlay-close{ top:auto; bottom: 41px; }
}