.page-title{
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 50px;
  color: #fff;
  margin-top: 65px;
}
.page-text{
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
  color: #636363;

  p{ margin-bottom: 23px; }
  a{ color: inherit; text-decoration: underline; }
  a:hover{ color: $blue-light; text-decoration: none; }
}

.page{
  position: absolute;
  left: 181px;
  top:33px;
  width: 66%;
}
.page-col{
  width: 70%;
  float: left;
  margin-top: 160px;
}
.page-col + .page-col{ width: 25%; margin-left: 5%; }


/* insight page */
.insight h3{
  font-size: 14px;
  color: #fff;
  font-weight: normal;
  line-height: 1;
  margin-top: 78px;
}

.insight{
  position: absolute;
  top: 0;
  left: 181px;
  right: 0;
  bottom: 0px;
}
.insight .page-title{ margin-top: 0px; line-height: 1;  }
.insight-info{ width: 60%; float: left; overflow-y: scroll; -webkit-overflow-scrolling:touch; padding-right: 15px; }
.insight-team{ width: 40%; float: left; overflow-y: scroll; -webkit-overflow-scrolling:touch; }
.insight-team ul{ margin: 0; padding: 0; }
.insight-team ul li{ position: relative; margin: 0 0 -3px 0;}
.insight-team img{ width: 100%; }


.insight-services { }
.insight-services li{ color: #636363; font-size: 14px; margin-bottom: 10px; }

.insight .overlay-content>div{
  padding:33px 20px;
  text-align: left;
  display: block;
}

.insight .overlay_client{ font-size: 15px !important; }
.insight .overlay_project:hover{ text-decoration: none !important; cursor: default !important; }
.no-touch .insight .overlay-close{ display: none; }

@media (max-width: 1024px){
  .insight h3{
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .insight .page-col{
    width: 100% !important;
    float: none !important;
  }
  .insight-services li{
    width: 32%;
    margin-right: 1%;
    float: left;
  }
  .page-col + .page-col{
    margin-top: 5%;
    margin-left: 0 !important;
    padding-bottom: 5%;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .insight-team { width: 30%; margin-left: 5%;}
  .insight-info { width: 65%; }
}

@media (max-width: 768px) {
  .page-col{margin-top: 40px;}
  .insight{
    position: relative;
    top: 110px;
    left: 0;
  }

  .insight-info {
    width: 100%;
    float:none;
    padding-left: 33px;
    padding-right: 33px;
  }
  .insight-team {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width:580px) {
  .insight{ top: 33px; }
  .page-col{ width: 100% !important; margin-top: 0; margin-left: 0 !important; }
  .insight h3{ margin-top: 33px; }
  .insight-services{ margin-bottom: 33px; }

}

/* Clients Page */
.clients-text{ margin-bottom: 38px; padding-right: 30px; }

.why-page,
.clients-page{ padding-bottom: 30px; }


@media (max-width:768px) and (min-width:580px ) {
  .page{top:90px}
}

@media (min-width: 769px) { .page{ top:0; }}

@media(max-width: 768px){
  .page{
    position: relative;
    left: 0;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 !important;
  }

  .insight-services,
  .why-text{ width: 100%; float: none; }

}


@media (max-width: 580px) {
 .page-title{ margin-top: 0; }
}
