.project{
  position: absolute;
  left: 181px;
  right: 0;
  bottom: 0;
  top:0;
}
.project-info{
  padding-top: 120px;
  width: 39%;
  float: left;
  padding-right: 1%;
}
.project-info>a,
.project-info>span,
.project-info_head>a,
.project-info_head>span,{
  display: block;
}

.project-info_date{
  font-size: 15px;
  color: #838383;
  margin-bottom: 10px;
}

.project-info_name{
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  letter-spacing: -0.5px;
  margin-bottom: 35px;
}

.project-info_client{
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  margin-bottom: 5px;
}

.project-info_author,
.project-info_tag{
  font-size: 17px;
  color: #838383;
  margin-bottom: 5px;
  text-decoration: none;
}

.project-info_client,
.project-info_author,
.project-info_tag{
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.project-info_client{
  cursor: default;
}

.project-info_author:hover,
.project-info_tag:hover{
  color: #fff;
}

.project-info_description{
  font-size: 14px;
  line-height: 20px;
  color:#636363;
  margin-top: 0;
}

.project-thumbs{
  position: absolute;
  right: 0;
  top:0;
  bottom: 0;
  width: 60%;
  overflow-y: scroll;
  -webkit-overflow-scrolling:touch;
}

.no-touch .project-thumbs:hover .img-lazyload{ opacity: 0.2; }
.no-touch .project-el .img-lazyload:hover{ opacity: 1 !important; }

.project__one-element .project-thumbs:hover .img-lazyload{ opacity: 1 !important; }
.project__one-element .project-thumbs{ background: #262626; }
.project__one-element .project-el{
  position: absolute;
  top:50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.project-el{
  width: 100%;
}

.project .project-el{
  margin-bottom: 4px;
  background:#262626;
}

.project .project-el img{ margin-bottom: -4px }

.project-el .img-lazyload{
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.project-el picture img{ width: 100%; }

@media(max-width: 768px){
  .project{ left: 0px }
  .project-info{ width: 98%; float: none; padding-bottom: 33px; }
  .project-info>*{ padding-left: 33px; }
  .project-thumbs{
    top: 50px;
    position: relative;
    width: 100%;
  }
  .project-info_head{
    position: fixed;
    z-index: 100;
    top: 130px;
    background: #1f1f1f;
    width: 100%;
  }

  .project-info_client{ margin-top: 40px }

  .project__one-element .project-el{
    position: relative;
    top:0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@media(max-width: 480px){
  .project-info_head{ top: 86px; padding-top: 13px; padding-left: 15px; }
  .project-info>*{ padding-left: 15px }
  .project-info_client{ margin-top: 15px; }
  .project-thumbs{ top:0 }

}
