
.platform-win .insight-info::-webkit-scrollbar,
.platform-win .insight-team::-webkit-scrollbar,
.platform-win .feature-text::-webkit-scrollbar              { width:5px;}

.platform-win .insight-info::-webkit-scrollbar-button,
.platform-win .insight-team::-webkit-scrollbar-button,
.platform-win .feature-text::-webkit-scrollbar-button       { display:none; }

.platform-win .insight-info::-webkit-scrollbar-track,
.platform-win .insight-team::-webkit-scrollbar-track,
.platform-win .feature-text::-webkit-scrollbar-track        { background:rgba(255,255,255,.1) }

.platform-win .insight-info::-webkit-scrollbar-track-piece,
.platform-win .insight-team::-webkit-scrollbar-track-piece,
.platform-win .feature-text::-webkit-scrollbar-track-piece  { background:rgba(255,255,255,.1) }

.platform-win .insight-info::-webkit-scrollbar-thumb,
.platform-win .insight-team::-webkit-scrollbar-thumb,
.platform-win .feature-text::-webkit-scrollbar-thumb        { background:rgba(255,255,255,.2) }

.platform-win .insight-info::-webkit-scrollbar-corner,
.platform-win .insight-team::-webkit-scrollbar-corner,
.platform-win .feature-text::-webkit-scrollbar-corner       { /* 6 */ }

.platform-win .insight-info::-webkit-resizer,
.platform-win .insight-team::-webkit-resizer,
.platform-win .feature-text::-webkit-resizer                { display:none; }
