$slider-height:480px;
$slide-height:381px;
$slider-animation-time:0.5s;
.slider{
  position:absolute ;
  left: 181px;
  right: 0;
  top:50%;
  margin-top: -240px;
  height: $slider-height;
}

.slider,
.slider .filters-trigger{
  -webkit-transition: left $slider-animation-time ease-in-out;
  -moz-transition: left $slider-animation-time ease-in-out;
  -ms-transition: left $slider-animation-time ease-in-out;
  -o-transition: left $slider-animation-time ease-in-out;
  transition: left $slider-animation-time ease-in-out;
}

.filters-trigger{
  position: absolute;
  left:0;
  -webkit-transition-duration: 0.7s !important;
  -moz-transition-duration: 0.7s !important;
  -o-transition-duration: 0.7s !important;
  transition-duration: 0.7s !important;
}
.filters-trigger i{ margin-right: 5px; }
.filters-trigger i:before,
.filters-trigger i:after{ background: #fff; }

.slider-fullwidth{
  left: 0;
}

.slider-mask{
  position: relative;
  overflow: hidden;
  height: $slide-height+35;
}
.slider-wrap{
  position: absolute;
  white-space: nowrap;
  -webkit-transition: left $slider-animation-time ease-in-out;
  -moz-transition: left $slider-animation-time ease-in-out;
  -ms-transition: left $slider-animation-time ease-in-out;
  -o-transition: left $slider-animation-time ease-in-out;
  transition: left $slider-animation-time ease-in-out;
}

html.csstransforms3d .slider-wrap{
  -webkit-transition: -webkit-transform $slider-animation-time ease-in-out;
  -moz-transition: -moz-transform $slider-animation-time ease-in-out;
  -ms-transition: -ms-transform $slider-animation-time ease-in-out;
  -o-transition: -o-transform $slider-animation-time ease-in-out;
  transition: transform $slider-animation-time ease-in-out;
}

/* loading animation */
@-webkit-keyframes placeholder-pulse{
  0%{ opacity: 1 }
  100%{ opacity: 0.5 }
}
@-moz-keyframes placeholder-pulse{
  0%{ opacity: 1 }
  100%{ opacity: 0.5 }
}
@-o-keyframes placeholder-pulse{
  0%{ opacity: 1 }
  100%{ opacity: 0.5 }
}
@keyframes placeholder-pulse{
  0%{ opacity: 1 }
  100%{ opacity: 0.5 }
}

.slider-wrap > div {
  height: 381px;
  position: relative;
}

.slider-el {
  background: #262626;
}
/*.slider-el{
  -webkit-animation: placeholder-pulse 3s ease-in-out alternate infinite;
  -moz-animation:    placeholder-pulse 3s ease-in-out alternate infinite;
  -o-animation:      placeholder-pulse 3s ease-in-out alternate infinite;
  animation:         placeholder-pulse 3s ease-in-out alternate infinite;
}
.slider-el__loaded{
  -webkit-animation:none !important;
  -moz-animation:none !important;
  -o-animation:none !important;
  animation:none !important;
}

.slider .slider-el:nth-of-type(2n){
  -webkit-animation-delay:2s;
  -moz-animation-delay:2s;
  -o-animation-delay:2s;
  animation-delay:2s;
}
.slider .slider-el:nth-of-type(3n){
  -webkit-animation-delay:3s;
  -moz-animation-delay:3s;
  -o-animation-delay:3s;
  animation-delay:3s;
}
.slider .slider-el:nth-of-type(4n){
  -webkit-animation-delay:4s;
  -moz-animation-delay:4s;
  -o-animation-delay:4s;
  animation-delay:4s;
}*/

.slider picture img{
  width: auto;
  height: 100%;
}

.slider .overlay{
  text-align: left;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  z-index: 51;
}

.slider .overlay-close{ display: none }
html.touch .overlay-close{ display: block }

.slider .overlay-content{
  display: block;
}

.slider .overlay-content>div{
  display: block;
  padding: 32px 20px;
  height: 100%;
  white-space: normal;
}

.slider .overlay_project{ font-size: 21px; margin-top: 5px; margin-bottom: 5px; letter-spacing: -1px; }
.slider .overlay_author,
.slider .overlay_client{ font-size: 16px; cursor: default !important; }
.slider .overlay_client{ font-size: 13px; font-weight: bold;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;  opacity: 1; }
.slider .overlay_description{
  font-size: 14px;
  font-weight: 100;
  margin-left: 0;
  max-width: 70%;
  max-height: 60px;
  overflow: hidden;
  white-space: normal;
}

.slider-actions{
  line-height: 1;
  height: 82px;
}

.slider-controls{
  position: absolute;
  width: 74px;
  top: 28px;
  right: 22px;
}

.slider-controls svg{
  width: 22px;
  height: 34px;
  fill:#fff;
}
.slider-controls a+a{ margin-left: 22px; }

.slider-control__disabled{
  pointer-events:none;
}
.slider-control__disabled svg,
.slider-control__disabled svg{
  fill:#323232;
}


.slider-el{ margin-right: -2px; display: inline-block; }

/*.slider-counter{ color: #cccccc; }*/

.slider-el_cat{
  display: block;
  text-decoration: none;
  font-size: 13px;
  color: #fff;
  margin: 18px 0 0 10px;
}
.slider-el_cat:hover{ color: $blue; }

.slider-el:after{
  content: ' ';
  position: absolute;
  background: rgba(0,0,0,0.55);
  left: 0;
  top: 0px;
  z-index: 50;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  display: none;
}

.slider-el.slider-el__inactive:after{ opacity: 1 }
.slider-el.slider-el__inactive .slider-el_cat{ color: rgba(255,255,255,.3); }

.slider-el__loaded:after{  display: block; }

@media (max-width: 768px) {
  .slider{
    left: 0;
  }
  .filters-trigger{ left: 33px; }
  .filters-wrapper{
    left: 33px;
    right: auto;
  }

  .filters-close{ left: 0; }

  .slider .overlay{ bottom: 4px; }
}

@media( max-width: 480px ){
  .slider{
    position: relative;
    top:auto;
    left: auto;
    margin:0;
  }
  .slider-wrap,
  .slider-mask{
    overflow: auto;
    position: relative;
    height: auto;
  }
  .slider-wrap>div{
    display: block;
    width: 100%;
    height: auto;
    float: none;
  }
  .slider picture img{
    width: 100%;
    height: auto;
  }
  .slider-el_cat{display: none}
  .filters-trigger{ position: relative }
  .slider-controls{ display: none; }

  .filters-trigger{ top:12px; }
  .filters-wrapper{ left: 53px; }
  .filters-close{ left:20px; }
}