$tabs-border:#3a3a3a;
.tabs{}
.tabs-controls{
  border-bottom: solid 1px $tabs-border;
  margin-bottom: 0;
  margin-top:0;
}
.tabs-controls li{
  position: relative;
  display: inline-block;
  height: 39px;
  text-align: center;
  line-height: 39px;
  font-size: 14px;
  color: rgba(255,255,255,0.5);
  cursor: pointer;
  margin-bottom: -2px;
  padding-left: 10px;
  padding-right: 10px;
}

.tabs-controls li:first-child{margin-left: 18px}

.tabs-current{
  color: rgba(255,255,255,1) !important;
  border-top: solid 1px $tabs-border;
  border-left: solid 1px $tabs-border;
  border-right: solid 1px $tabs-border;
}
.tabs-current:after{
  display: block;
  content: ' ';
  position: absolute;
  width: 99%;
  height: 2px;
  bottom: -1px;
  left: 0;
}
.tabs-content{
  padding-top: 33px;
}

.tab-col{
  float: left;
  margin: 0;
  padding: 0;
}

.tab-col li{ margin-bottom: 16px; line-height: 1; }
.tab-col33{ width: 33% }
.tab-col25{ width: 25% }
.tab-col50{ width: 50% }

.l-default .tabs-current:after{ background: $gray-dark }
.l-homepage .tabs-controls li{ color: #636363 }
.l-homepage .tabs-current{ color: #1f1f1f !important; }
.l-homepage .tabs-current:after{ background: #ffffff }


@media( max-width: 1024px ){
  .tab-col li{margin-bottom: 11px;}
}
@media(max-width: 480px){
  .tab-col33,
  .tab-col25{ width: 50% }
  .tabs-controls li{ font-size: 11px; }
  .tabs-controls li:first-child{margin-left: 5px}

}