.extrabold{
  font-size: 70px;
  font-weight: 800;
  letter-spacing: -2.5px;
  -webkit-font-smoothing: antialiased;
}

.light{
  font-size: 50px;
  font-weight: 300;
  letter-spacing: -2.5px;
  -webkit-font-smoothing: antialiased;
}